.cell {
    height          : 100%;
    width           : 100%;
    background-color: #454545;
    cursor          : pointer;

    &.alive {
        background-color: #777;

        &:hover {
            background-color: #999;
        }
    }

    &:hover {
        background-color: #565656;
    }
}