.event {
    min-width       : 60vw;
    display         : flex;
    flex-direction  : column;
    gap             : 1rem;
    border          : #111 1px solid;
    box-shadow      : 2px 2px 1px #111;
    margin-top      : 15vh;
    padding         : 1rem;
    background-color: #323232;
}

.top {
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    h1 {
        display    : flex;
        align-items: center;
        gap        : 0.5rem;

        abbr {
            text-decoration: none;
            cursor         : default;
        }
    }
}

.category {
    display    : flex;
    align-items: flex-end;

    abbr {
        display        : flex;
        justify-content: center;
    }

    img {
        width: 2rem;
    }
}

.links {
    display: flex;
    gap    : 1rem;

    .newLink .customLink {
        color     : hsl(98, 100%, 87%);
        transition: .2s;

        &:hover {
            color     : hsl(98, 66%, 48%);
            transition: .2s;
        }
    }

    .live {
        order: 1 transform;
    }

    .replay {
        order: 2;
    }

    .info {
        order: 3;
    }

    .newLink {
        order: 4;
    }
}

a,
abbr {
    text-decoration: none;
}

.buttons {
    display        : flex;
    justify-content: space-evenly;
}

.parent_events {
    display: flex;
    gap    : 0.5rem;

    li,
    ul {
        display: flex;
    }

    .separator {
        text-decoration: none;
        margin         : 0 .4rem 0 .5rem;
    }
}

.parent_event-link {
    font-style     : italic;
    text-decoration: underline;
}

.subEvents {
    display       : flex;
    flex-direction: column;
    gap           : 1rem;

    .nextEvents,
    .pastEvents {
        display              : grid;
        grid-template-columns: 4rem min-content auto;
        column-gap           : 1rem;
        row-gap              : .2rem;
    }

    .monthDay {
        display        : flex;
        justify-content: space-between;

        .month {
            margin-right: 0.4rem;
        }
    }

    .year {
        margin-right: 1rem;
    }

    a {
        text-decoration: underline;
    }
}