<app-header [calendar]="true" title="{{ event?.title }}"></app-header>

<app-loading *ngIf="loading; else mainBlock"></app-loading>

<ng-template #mainBlock>
    <main #mainBlock *ngIf="found; else notFoundBlock">
        <section *ngIf="event" class="event">
            <div class="top">
                <h1 class="title">
                    <ul class="categories">
                        <li
                            *ngFor="let category of getEventCategories(event)"
                            class="category"
                        >
                            <abbr
                                title="{{ category.name }}"
                                *ngIf="
                                    iconIsImage(category.name);
                                    else abbrBlock
                                "
                            >
                                <img
                                    src="{{ getCategorySource(category.name) }}"
                                    alt="{{ category.name }} icon"
                                />
                            </abbr>
                            <ng-template #abbrBlock>
                                <abbr
                                    title="{{ category.name }}"
                                    class="material-icons"
                                    >{{ getCategoryIcon(category.name) }}</abbr
                                >
                            </ng-template>
                        </li>
                    </ul>
                    <p>
                        {{ event.title }}
                    </p>
                    <div *ngIf="!isPassed()" class="date relative">
                        <p>({{ relativeDate(event) }})</p>
                    </div>
                </h1>
                <ul class="links">
                    <a
                        *ngFor="let link of getLinks(event)"
                        href="{{ link.url }}"
                        target="_blank"
                        class="material-icons {{ link.type.name }}"
                        >{{ getMaterialIconsName(link.type.name) }}</a
                    >
                    <a
                        (click)="stopPropagation($event)"
                        [routerLink]="['/calendar/link/new']"
                        [queryParams]="{ event: event.id }"
                        class="link newLink"
                    >
                        <abbr
                            title="Nouveau lien"
                            class="material-icons icon customLink newLink"
                            >add_circle</abbr
                        ></a
                    >
                </ul>
            </div>
            <p *ngIf="hasDescription()" class="description">
                {{ event.description }}
            </p>
            <p *ngIf="!hasChildren()" class="date absolute">
                {{ event.date | date: "fullDate" }},
                {{ event.date | date: "shortTime" }}
            </p>
            <div *ngIf="getAncestors(event).length" class="parent_events">
                <p>Parent{{ getAncestors(event).length > 1 ? "s" : "" }} :</p>
                <ul>
                    <li *ngFor="let parent of getAncestors(event); index as i">
                        <a
                            routerLink="/calendar/event/{{ parent.id }}"
                            class="parent_event-link"
                        >
                            {{ parent.title }}
                        </a>
                        <div
                            *ngIf="i < getAncestors(event).length - 1"
                            class="separator"
                        >
                            >
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngIf="event.subEvents.length" class="subEvents">
                <ul class="nextEvents">
                    <ng-template
                        ngFor
                        nextEvent
                        [ngForOf]="nextEvents"
                        let-i="index"
                    >
                        <div class="monthDay">
                            <p class="month">
                                {{ nextEvents[i].date | date: "MMM" }}
                            </p>
                            <p class="day">
                                {{ nextEvents[i].date | date: "d" }},
                            </p>
                        </div>
                        <p class="year">
                            {{ nextEvents[i].date | date: "yyyy" }}
                        </p>
                        <a
                            routerLink="/calendar/event/{{ nextEvents[i].id }}"
                            class="title"
                        >
                            {{ nextEvents[i].title }}
                        </a>
                    </ng-template>
                </ul>
                <ul class="pastEvents">
                    <ng-template
                        ngFor
                        passedEvent
                        [ngForOf]="passedEvents"
                        let-i="index"
                    >
                        <div class="monthDay">
                            <p class="month">
                                {{ passedEvents[i].date | date: "MMM" }}
                            </p>
                            <p class="day">
                                {{ passedEvents[i].date | date: "d" }},
                            </p>
                        </div>
                        <p class="year">
                            {{ passedEvents[i].date | date: "yyyy" }}
                        </p>
                        <a
                            routerLink="/calendar/event/{{
                                passedEvents[i].id
                            }}"
                            class="title"
                        >
                            {{ passedEvents[i].title }}
                        </a>
                    </ng-template>
                </ul>
            </div>
            <div class="buttons">
                <a
                    routerLink="/calendar/event/new"
                    [queryParams]="{ parentEvent: event.id }"
                >
                    <button mat-raised-button class="customButton green">
                        Ajouter
                    </button>
                </a>
                <a routerLink="/calendar/event/{{ event.id }}/edit">
                    <button mat-raised-button class="customButton orange">
                        Modifier
                    </button>
                </a>
                <button
                    (click)="onDelete()"
                    mat-raised-button
                    class="customButton red"
                >
                    Supprimer
                </button>
            </div>
        </section>
    </main>

    <ng-template #notFoundBlock>
        <main class="error">
            <h1 class="error-header">Erreur 404</h1>
            <h2>L'événement #{{ id }} est introuvable</h2>
            <a routerLink="/calendar" ngClass="white">Retour au calendrier</a>
        </main>
    </ng-template>
</ng-template>
