main {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
}

.grid {
    $gridWidthVW         : 70vmin;
    display              : grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows   : repeat(20, 1fr);
    gap                  : 1px;
    background-color     : #222;
    width                : $gridWidthVW;
    height               : $gridWidthVW;
    box-shadow           : 4px 4px 2px 1px #111;
}

.value {
    margin-left: 1rem;
}

button {
    align-self: center;
}