<app-header [title]="'Jeu de la vie'"></app-header>

<main>
    <div class="grid">
        <app-gameoflife-cell
            *ngFor="let cell of getCells(); index as cellIndex"
            [isAlive]="cell === 'alive'"
            (click)="toggle(cellIndex)"
        ></app-gameoflife-cell>
    </div>

    <aside>
        <div class="speed">
            <input
                type="range"
                id="speed"
                (change)="onSpeedChange()"
                [(ngModel)]="speed"
                min="100"
                max="1000"
                step="10"
            />
            <span class="value">{{ speed }}ms</span>
        </div>

        <mat-divider></mat-divider>

        <button
            mat-raised-button
            class="customButton"
            (click)="togglePlay()"
            [ngClass]="{
                isPlaying: getIsPlaying(),
                green: !getIsPlaying(),
                red2: getIsPlaying()
            }"
        >
            {{ getIsPlaying() ? "Arrêter" : "Démarrer" }}
        </button>
    </aside>
</main>
