<app-header [title]="'Table'"></app-header>

<main>
    <div class="table resistances">
        <div class="row header_row">
            <p class="cell pokemon"></p>
            <p *ngFor="let type of types" class="type cell">
                {{ type }}
            </p>
        </div>
        <div *ngFor="let pokemon of pokemons" class="row">
            <p class="cell pokemon">{{ pokemon.name }}</p>
            <div *ngFor="let type of types" class="value cell" [ngClass]="{
                    immune:
                        multiplier(type, pokemon.types, pokemon.ability) === 0,
                    resist:
                        multiplier(type, pokemon.types, pokemon.ability) ===
                        0.5,
                    stronglyResist:
                        multiplier(type, pokemon.types, pokemon.ability) ===
                        0.25,
                    effective:
                        multiplier(type, pokemon.types, pokemon.ability) === 2,
                    veryEffective:
                        multiplier(type, pokemon.types, pokemon.ability) === 4
                }">
                ×{{ multiplier(type, pokemon.types, pokemon.ability) }}
            </div>
        </div>
    </div>

    <div class="table stats">
        <div class="row header_row">
            <p class="cell pokemon"></p>
            <p *ngFor="let stat of stats" class="stat cell">
                {{ stat | uppercase }}
            </p>
            <p class="stat cell">DEF G</p>
            <p class="stat cell">AVG</p>
        </div>
        <div *ngFor="let pokemon of pokemons; index as index" class="row">
            <p class="cell pokemon">{{ pokemon.name }}</p>
            <div *ngFor="let stat of stats" class="value cell"
                [ngClass]="{badAttack: (stat === 'spa' && badAttack(index, 0) === 'spa') || (stat === 'atk' && badAttack(index, 0) === 'atk')}">
                {{ getBaseStat(index, 0, stat) | number:'1.0-0' }}
            </div>
            <div class="value cell">
                {{ getGlobalDefense(index, 0) | number:'1.0-0' }}
            </div>
            <div class="value cell">
                {{ getAverageStats(index, 0) | number:'1.0-0' }}
            </div>
        </div>
    </div>

    <div class="table resistances">
        <div class="row header_row">
            <p class="cell pokemon"></p>
            <p *ngFor="let type of types" class="type cell">
                {{ type }}
            </p>
        </div>
        <div *ngFor="let pokemon of teamB" class="row">
            <p class="cell pokemon">{{ pokemon.name }}</p>
            <div *ngFor="let type of types" class="value cell" [ngClass]="{
                    immune:
                        multiplier(type, pokemon.types, pokemon.ability) === 0,
                    resist:
                        multiplier(type, pokemon.types, pokemon.ability) ===
                        0.5,
                    stronglyResist:
                        multiplier(type, pokemon.types, pokemon.ability) ===
                        0.25,
                    effective:
                        multiplier(type, pokemon.types, pokemon.ability) === 2,
                    veryEffective:
                        multiplier(type, pokemon.types, pokemon.ability) === 4
                }">
                ×{{ multiplier(type, pokemon.types, pokemon.ability) }}
            </div>
        </div>
    </div>


    <div class="table stats">
        <div class="row header_row">
            <p class="cell pokemon"></p>
            <p *ngFor="let stat of stats" class="stat cell">
                {{ stat | uppercase }}
            </p>
            <p class="stat cell">DEF G</p>
            <p class="stat cell">AVG</p>
        </div>
        <div *ngFor="let pokemon of teamB; index as index" class="row">
            <p class="cell pokemon">{{ pokemon.name }}</p>
            <div *ngFor="let stat of stats" class="value cell"
                [ngClass]="{badAttack: (stat === 'spa' && badAttack(index, 1) === 'spa') || (stat === 'atk' && badAttack(index, 1) === 'atk')}">
                {{ getBaseStat(index, 1, stat) | number:'1.0-0' }}
            </div>
            <div class="value cell">
                {{ getGlobalDefense(index, 1) | number:'1.0-0' }}
            </div>
            <div class="value cell">
                {{ getAverageStats(index, 1) | number:'1.0-0' }}
            </div>
        </div>
    </div>
</main>