main {
    display: flex;
    flex-direction: column;
}

.table {
    display: flex;
    flex-direction: column;
    border: 1px #ccc solid;
}

.row {
    display: flex;
}

.cell {
    border: 1px #ccc solid;
    padding: 0.5rem 0;
    width: 4rem;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    align-items: center;
    display: flex;

    &.pokemon {
        width: 6rem;
        overflow: hidden;
    }
}

.table.resistances {
    .value {
        background-color: grey;
    }

    .immune {
        background-color: #323232;
    }

    .resist {
        background-color: green;
    }

    .stronglyResist {
        background-color: rgb(129, 255, 129);
        color: #323232;
    }

    .effective {
        background-color: orangered;
    }

    .veryEffective {
        background-color: red;
    }
}

.table.stats {

    .header_row p,
    p.pokemon {
        background-color: hsl(0, 0%, 23%);
    }

    .badAttack {
        color: #555;
    }
}