/* ! Form
! ============================================================================================================================ */

form.form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	border: 1px #222 solid;
	border-radius: 6px;
}

.form fieldset {
	border: 1px solid;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	margin-bottom: 2rem;
}

.form legend {
	padding-left: 1rem;
	padding-right: 1rem;
	font-style: italic;
	font-weight: bold;
}

.form .field {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-right: 5%;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.form label {
	width: 8rem;
	display: flex;
	flex-direction: column;
}

.form input {
	text-align: center;
}
