.main-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 1rem;

	a {
		button {
			width: 100%;
			height: 100%;
		}
	}
}

.main-content {
	form {
		.form-container {
			margin-bottom: 1rem;
			padding: 0.5rem;

			fieldset {
				// flex-direction: column;
				// align-items   : center;

				legend {
					padding: 0 1em;
				}

				.field {
					margin: 1em;
					display: grid;
					grid-template-columns: auto auto;
					gap: 0 2rem;

					input {
						width: 3rem;
						text-align: end;
					}
				}
			}

			fieldset > * {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
