.top {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.top > button {
	padding: 1rem;
}

.main-container {
	width: 100%;
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.grid {
	display: flex;
	flex-direction: column;
	height: calc(6 * 3rem);
	width: calc(7 * 3rem);
	border: 1px black solid;
	background-color: rgb(39, 0, 110);
	padding: 0.1rem;
}

.row {
	display: flex;
	width: 100%;
	height: 100%;
}

.column {
	display: flex;
	width: 100%;
	height: 100%;
}

.case {
	border: 1px black solid;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgb(180, 180, 180);
}

.case.yellow {
	background-color: yellow;
}

.case.yellow.winningCell {
	animation: yellowWin infinite 1.5s linear;
}

.case.red {
	background-color: red;
}

.case.red.winningCell {
	animation: redWin infinite 1.5s linear;
}

@keyframes yellowWin {
	0% {
		background-color: yellow;
	}

	50% {
		background-color: green;
	}

	100% {
		background-color: yellow;
	}
}

@keyframes redWin {
	0% {
		background-color: red;
	}

	50% {
		background-color: green;
	}

	100% {
		background-color: red;
	}
}

.side-bar {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.piece {
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
}

.piece.red {
	background-color: red;
}

.piece.yellow {
	background-color: yellow;
}

.side-bar button {
	font-size: 2rem;
	margin-bottom: 10%;
	padding: 3%;
}
