<figure (click)="onOpenPopup()" class="project-preview">
    <img
        class="project-preview__image"
        [ngClass]="{ unfinish: !project.isFinish }"
        src="{{ project.imageUrl }}"
        alt="{{ project.imageAlt }}"
    />
    <figcaption class="project-preview__heading">
        <span
            *ngIf="!project.isFinish"
            class="material-icons-outlined construction"
        >
            construction
        </span>
        <span
            ><b>{{ project.name | uppercase }}</b>
        </span>
    </figcaption>
</figure>
