.project-preview {
    background-color: #404040;
    box-shadow      : 1px 1px 1px #272727;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    height          : 100%;
    cursor          : pointer;
}

.project-preview__image {
    max-width : 100%;
    max-height: 30vmin;

    &.unfinish {
        opacity: .4;
    }
}

.project-preview__heading {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : 1.5rem;

    .material-icons-outlined {
        font-size: clamp(16px, 2.2vw, 20px);

        &.construction {
            margin-right: 0.5rem;
        }

        &.info {
            margin-left: .5rem;
        }
    }
}