main {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

form {
    display              : grid;
    grid-template-columns: auto auto;
    padding-bottom       : 1rem;
    flex-direction       : column;
    justify-content      : space-evenly;
    align-items          : center;
    border               : 1px solid #ccc;
    background-color     : #323232;

    fieldset {
        border               : none;
        display              : grid;
        grid-template-columns: auto;
        padding              : 1rem;
        align-self           : flex-start;

        select {
            max-width: 60%;
        }

        >* {
            margin-bottom: 0.2rem;
        }

        >*:not(label) {
            margin-bottom: 1rem;
        }

        &.links-fieldset {
            ul {
                display       : flex;
                flex-direction: column;
                gap           : 1rem;
            }

            li {
                display    : flex;
                align-items: center;
                gap        : .5rem;
            }

            button.link-delete_button {
                height: max-content;

                &:hover {
                    color     : rgb(192, 20, 20);
                    transition: color .1s;

                    &:active,
                    &:hover {
                        color     : rgba(192, 20, 20, .7);
                        transition: color .1s;
                    }
                }
            }

            section {
                display              : grid;
                grid-template-columns: auto auto;
                row-gap              : 1rem;
                align-self           : flex-start;
                padding              : 1rem;
                margin               : 0;
                border               : 1px solid #ccc;

                input:first-child {
                    grid-column: span 2;
                }

                label {
                    margin-right: 1rem;
                }
            }
        }
    }

    input:first-child {
        grid-column: span 2;
    }

    label {
        margin-right: 1rem;
    }
}

#category {
    height: 10rem;
}

.buttons {
    display        : flex;
    gap            : 2rem;
    align-items    : center;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    form {
        margin : 5vh 0 0 0;
        padding: 2rem;

        fieldset {
            row-gap              : 1rem;
            grid-template-columns: auto auto;
        }
    }
}