main {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

form {
    display              : grid;
    grid-template-columns: auto auto;
    padding              : 1rem 0;
    border               : 1px solid #ccc;
    background-color     : #323232;
    align-items          : center;

    fieldset {
        border               : none;
        display              : grid;
        grid-template-columns: auto;
        padding              : 0 1rem;
        row-gap              : 1rem;
        align-self           : flex-start;

        &.fieldset {
            select {
                width: 4rem;
            }
        }

        &.links-fieldset {
            display       : flex;
            flex-direction: column;
            margin        : 0;
        }
    }

    input:first-child {
        grid-column: span 2;
    }

    label {
        margin-right: 1rem;
    }

    .buttons {
        display     : flex;
        gap         : 2rem;
        justify-self: center;
    }
}

.link {
    display: flex;
    gap    : .5rem;
}

.link-update_section {
    display              : grid;
    grid-template-columns: auto auto;
    gap                  : 1rem;
    border               : 1px solid #ccc;
    padding              : 1rem;
}

button.link-delete_button:hover {
    color     : rgb(192, 20, 20);
    transition: color .1s;

    &:active,
    &:hover {
        color     : rgba(192, 20, 20, .7);
        transition: color .1s;
    }
}

@media screen and (min-width: 600px) {
    form {
        margin    : 1rem;
        margin-top: 10vh;
        padding   : 2rem;

        fieldset {
            padding              : 1rem;
            grid-template-columns: auto auto;
        }
    }
}