<app-header [calendar]="true" title="Nouvel évenement"></app-header>

<main>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <fieldset class="event-fieldset">
            <label for="title">Titre</label>
            <input
                type="text"
                id="title"
                name="title"
                [formControl]="titleControl"
                required="required"
            />
            <label for="description">Description</label>
            <textarea
                [formControl]="descriptionControl"
                id="description"
                name="description"
            ></textarea>
            <label for="date">Date</label>
            <input
                [formControl]="dateControl"
                type="datetime-local"
                id="date"
                name="date"
                value="{{ now | date: 'yyyy-MM-ddTHH:mm' }}"
                required="required"
            />
            <label for="category">Category</label>
            <select
                name="category"
                id="category"
                [formControl]="categoryControl"
                multiple
            >
                <option
                    *ngFor="let category of categories"
                    value="{{ category.id }}"
                >
                    {{ category.name }}
                </option>
            </select>
            <label for="parent">Parent</label>
            <select name="parent" id="parent" [formControl]="parentControl">
                <optgroup
                    *ngFor="let category of categories"
                    label="{{ category.name }}"
                >
                    <option
                        *ngFor="let event of getEventsByCategory(category.name)"
                        value="{{ event.id }}"
                    >
                        {{ event.title }}
                    </option>
                </optgroup>
            </select>
        </fieldset>
        <fieldset *ngIf="links.length" class="links-fieldset">
            <div *ngFor="let link of links; index as linkNumber" class="link">
                <section class="link-update_section">
                    <label for="url">Url</label>
                    <input
                        type="text"
                        id="url"
                        name="url"
                        required="required"
                        [formControl]="linkControls[linkNumber][0]"
                    />
                    <label for="linkTitle">Titre</label>
                    <input
                        type="text"
                        id="linkTitle"
                        name="linkTitle"
                        [formControl]="linkControls[linkNumber][1]"
                    />
                    <label for="linkType">Type</label>
                    <select
                        name="linkType"
                        id="linkType"
                        [formControl]="linkControls[linkNumber][2]"
                    >
                        <option
                            *ngFor="let linkType of linkTypes"
                            value="{{ linkType.id }}"
                        >
                            {{ linkType.name }}
                        </option>
                    </select>
                </section>
                <button
                    class="raw link-delete_button material-icons-outlined button"
                    type="button"
                    (click)="onDeleteLink(linkNumber)"
                >
                    close
                </button>
            </div>
        </fieldset>
        <div class="buttons grid-column-span-2">
            <button
                type="submit"
                mat-raised-button
                class="customButton light-green"
            >
                Créér l'événement
            </button>
            <button
                (click)="onAddLink()"
                type="button"
                mat-raised-button
                class="customButton light-blue-2"
            >
                Nouveau lien
            </button>
        </div>
    </form>
</main>
