<ul class="boost up">
    <li
        *ngFor="let stat of getUpBoostedStats(); index as i"
        (click)="incrementBoost(stat)"
        (auxclick)="decrementBoost(stat)"
    >
        <p *ngIf="i" class="separation">/</p>
        <p class="value">+{{ getBoost(stat) }} {{ stat }}</p>
    </li>
</ul>

<ul class="boost down">
    <li
        *ngFor="let stat of getDownBoostedStats(); index as i"
        (click)="incrementBoost(stat)"
        (auxclick)="decrementBoost(stat)"
    >
        <p *ngIf="i" class="separation">/</p>
        <p class="value">{{ getBoost(stat) }} {{ stat }}</p>
    </li>
</ul>
