main {
    height         : 90vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : 0;
}

form {
    width           : max-content;
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    align-items     : center;
    padding         : 2rem;
    border          : 1px solid #ccc;
    background-color: #323232;

    fieldset {
        border               : none;
        display              : grid;
        grid-template-columns: auto auto;
        padding              : 1rem;
        row-gap              : 1rem;
        margin-bottom        : 2rem;
        align-self           : flex-start;

        &.tier-fieldset {
            select {
                width: 4rem;
            }
        }
    }

    input:first-child {
        grid-column: span 2;
    }

    label {
        margin-right: 1rem;
    }
}