<app-header [calendar]="true" title="Nouveau lien"></app-header>

<main>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <fieldset class="fieldset">
            <label for="url">Url</label>
            <input
                type="text"
                id="url"
                name="url"
                [formControl]="urlControl"
                required="required"
            />
            <label for="description">Titre</label>
            <input
                type="text"
                id="title"
                name="title"
                [formControl]="titleControl"
            />
            <label *ngIf="!eventId" for="event">Evénement</label>
            <select
                *ngIf="!eventId"
                name="event"
                id="event"
                [formControl]="eventControl"
            >
                <option *ngFor="let event of events" value="{{ event.id }}">
                    {{ event.title }}
                </option>
            </select>
            <label for="linkType">Type</label>
            <select
                name="linkType"
                id="linkType"
                [formControl]="linkTypeControl"
            >
                <option
                    *ngFor="let linkType of linkTypes"
                    value="{{ linkType.id }}"
                >
                    {{ linkType.name }}
                </option>
            </select>
        </fieldset>
        <button
            type="submit"
            mat-raised-button
            class="customButton light-green"
        >
            Ajouter
        </button>
    </form>
</main>
