<header>
    <nav>
        <a routerLink="">Accueil</a>
        <ul *ngIf="calendar" class="calendar-nav">
            <a routerLink="/calendar">
                <abbr title="Calendrier" class="material-icons"
                    >calendar_month</abbr
                ></a
            >
            <a routerLink="/calendar/event/new">
                <abbr title="Créér un événement" class="material-icons"
                    >add_box</abbr
                >
            </a>
        </ul>
    </nav>
    <h1>{{ title }}</h1>
    <div class="right_part">
        <div class="datetime" *ngIf="calendar">
            <div
                *ngIf="screenSize == 'small'; then thenBlock; else elseBlock"
            ></div>
            <ng-template #thenBlock>
                <p class="date small">{{ now | date: "mediumDate" }}</p>
            </ng-template>
            <ng-template #elseBlock>
                <p class="date">{{ now | date: "fullDate" }}</p>
            </ng-template>
            <p class="time">{{ now | date: "mediumTime" }}</p>
        </div>
        <form
            *ngIf="calendar"
            #searchForm
            id="searchForm"
            class="filter"
            (submit)="onSearchSubmit()"
        >
            <input
                [formControl]="queryControl"
                id="filter-search"
                type="text"
                placeholder="Rechercher"
            />
            <button id="filter-button">
                <span class="material-icons"> search </span>
            </button>
        </form>
    </div>
</header>
