header {
    z-index              : 1;
    background-color     : #323232;
    box-shadow           : 2px 2px 1px #111;
    padding              : 3vmin max(.7rem, 5vw);
    display              : grid;
    position             : sticky;
    top                  : 0;
    align-items          : center;
    width                : 100%;
    grid-template-columns: 25% 50% 25%;
    color                : #ccc;
}

nav {
    display       : flex;
    flex-direction: column;
    gap           : .5rem;

    a {
        text-align: center;
    }
}

.calendar-nav {
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 0.5rem;
}

a {
    color: #ccc;

    abbr {
        text-decoration: none;
    }
}

h1 {
    position     : sticky;
    text-align   : center;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.right_part {
    display       : flex;
    flex-direction: column;
    gap           : 0.5rem;
    align-items   : flex-end;
}

.datetime {
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;
    gap           : 0.2rem;
    text-align    : end;
}

.filter {
    display         : flex;
    background-color: hsl(0, 0%, 30%);
}

#filter-search {
    color           : #ccc;
    background-color: #222;
    padding-left    : 0.5rem;
    border          : hsl(0, 0%, 30%) 1px solid;

    &:focus-visible {
        outline: none;
    }

    &:focus {
        border: 1px solid hsl(212, 97%, 36%);
    }
}

#filter-button {
    border         : hsl(0, 0%, 30%) 1px solid;
    border-left    : none;
    all            : unset;
    cursor         : pointer;
    display        : flex;
    align-items    : center;
    padding        : 0.1rem 0.5rem;
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    header {
        padding: .5rem 5vw;

        nav {
            align-items: start;
        }
    }
}