* {
	--red0: #dc0201;
	--beige: #f18c00;
	--blue: #021234;
	--yellow: #f18c00;
	--black: #010101;
	--white: #e0dcdd;
	--grey: #9eafbf;
	--line-color: #010101;
	--line-height: 2.22%;
	--base-height: 11.11%;
	--base-height2: calc(var(--base-height) * 2);

	--line-width: 2%;
	--base-width: 11.75%;
	--base-width2: calc(var(--base-width) * 2);
	--semi-base-width: calc(var(--base-width) / 2);

	--hl1: var(--base-height);
	--hl2: var(--line-height);
	--hl3: var(--base-height2);
	--hl4: var(--line-height);
	--hl5: var(--base-height2);
	--hl6: var(--line-height);
	--hl7: var(--base-height);
	--hl8: var(--line-height);
	--hl9: var(--base-height);
	--hl10: var(--line-height);
	--hl11: 5%;
	--hl12: var(--line-height);
	--hl13: 3.88%;

	--wc1: var(--base-width);
	--wc2: var(--line-width);
	--wc3: var(--base-width);
	--wc4: var(--line-width);
	--wc5: var(--base-width);
	--wc6: var(--line-width);
	--wc7: var(--base-width2);
	--wc8: var(--line-width);
	--wc9: var(--base-width);
	--wc10: var(--line-width);
	--wc11: var(--base-width);
	--wc12: var(--line-width);
	--wc13: var(--semi-base-width);
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.description {
	max-width: 80%;
	text-align: center;
}

.picture-list {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin-top: 2rem;
}

.picture {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#picture2 {
	right: 0;
	transition-duration: 3s;
}

#picture2:hover {
	left: 0;
	right: auto;
	transition-duration: 3s;
}

.dessin {
	height: 30vw;
	width: 30vw;
	background-color: beige;
	border: 0.5vw #a3afbd solid;
}

.original-picture {
	width: 30vw;
}

.line {
	display: flex;
}

/* Hauteur et largeur des éléments */

.column {
	height: 100%;
	display: flex;
}

.line1 {
	height: var(--hl1);
}

.line2 {
	height: var(--hl2);
}

.line3 {
	height: var(--hl3);
}

.line4 {
	height: var(--hl4);
}

.line5 {
	height: var(--hl5);
}

.line6 {
	height: var(--hl6);
}

.line7 {
	height: var(--hl7);
}

.line8 {
	height: var(--hl8);
}

.line9 {
	height: var(--hl9);
}

.line10 {
	height: var(--hl10);
}

.line11 {
	height: var(--hl11);
}

.line12 {
	height: var(--hl12);
}

.line13 {
	height: var(--hl13);
}

.column1 {
	width: var(--wc1);
}

.column2 {
	width: var(--wc2);
}

.column3 {
	width: var(--wc3);
}

.column4 {
	width: var(--wc4);
}

.column5 {
	width: var(--wc5);
}

.column6 {
	width: var(--wc6);
}

.column7 {
	width: var(--wc7);
}

.column8 {
	width: var(--wc8);
}

.column9 {
	width: var(--wc9);
}

.column10 {
	width: var(--wc10);
}

.column11 {
	width: var(--wc11);
}

.column12 {
	width: var(--wc12);
}

.column13 {
	width: var(--wc13);
}

/* Couleurs */

/* Lignes */

.line2,
.line4,
.line6,
.line8,
.line10,
.line12,
.column2,
.column4,
.column6,
.column8,
.column10,
.column12 {
	background-color: var(--line-color);
}

/* Cases blanches */

.line2 .column13,
.line4 .column13,
.line6 .column13,
.line6 .column1,
.line7 .column10,
.line9 .column10,
.line10 .column1,
.line10 .column13,
.line11 .column4,
.line11 .column10,
.line12 .column3,
.line12 .column4,
.line12 .column5,
.line13 .column4,
.line13 .column10,
.line13 .column8,
.line1 .column2,
.line1 .column6 {
	background-color: var(--white);
}

/* Cases jaunes */

.line3 .column9,
.line3 .column10,
.line3 .column11,
.line9 .column1,
.line10 .column1,
.line11 .column1,
.line12 .column1,
.line13 .column1,
.line1 .column9,
.line1 .column10,
.line1 .column11 {
	background-color: var(--yellow);
}

/* Cases rouges */

.line9 .column13,
.line10 .column13,
.line11 .column13,
.line12 .column13,
.line13 .column13,
.line3 .column3,
.line3 .column4,
.line3 .column5,
.line3 .column6,
.line3 .column7,
.line4 .column3,
.line4 .column4,
.line4 .column5,
.line4 .column6,
.line4 .column7,
.line5 .column3,
.line5 .column4,
.line5 .column5,
.line5 .column6,
.line5 .column7 {
	background-color: var(--red0);
}

/* Cases noires */

.line11 .column7,
.line7 .column3,
.line7 .column5,
.line9 .column3,
.line9 .column5 {
	background-color: var(--black);
}

/* Cases bleues */

.line9 .column9,
.line9 .column10,
.line9 .column11,
.line10 .column9,
.line10 .column10,
.line10 .column11,
.line11 .column9,
.line11 .column10,
.line11 .column11 {
	background-color: var(--blue);
}

/* Cases grises */

.line5 .column9,
.line5 .column11,
.line11 .column3,
.line12 .column3,
.line13 .column3,
.line11 .column4,
.line12 .column4,
.line13 .column4,
.line11 .column5,
.line12 .column5,
.line13 .column5,
.line13 .column7,
.line13 .column8,
.line13 .column9,
.line13 .column10,
.line13 .column11,
.line7 .column7,
.line9 .column7,
.line5 .column1,
.line6 .column1,
.line7 .column1,
.line1 .column13,
.line2 .column13,
.line3 .column13,
.line4 .column13,
.line5 .column13,
.line6 .column13,
.line7 .column13,
.line1 .column1,
.line1 .column2,
.line1 .column3,
.line1 .column6,
.line1 .column7,
.line1 .column5 {
	background-color: var(--grey);
}

/* Cases blanches */

.line7 .column9,
.line7 .column10,
.line7 .column11,
.line3 .column1 {
	background-color: var(--white);
}

/* Bouts de couleur dans les lignes */
.color {
	background-color: var(--white);
}

.line1 .color,
.line13 .color {
	width: 100%;
}

.line2 .color,
.line4 .color,
.line8 .color {
	height: 100%;
}

.line1 .column4 .color {
	height: 30%;
	background-color: var(--grey);
}

.line1 .column8 .color {
	height: 20%;
	background-color: var(--yellow);
}

.line1 .column12 .color {
	height: 30%;
	background-color: var(--yellow);
}

.line13 .column {
	display: flex;
	flex-direction: column-reverse;
}

.line13 .color {
	height: 30%;
	background-color: var(--yellow);
}

.line13 .column2 .color {
	height: 70%;
	background-color: var(--yellow);
}

.line13 .column6 .color {
	height: 30%;
	background-color: var(--grey);
}

.line13 .column12 .color {
	height: 50%;
	background-color: var(--red0);
}

.line2 .column1 .color,
.line4 .column1 .color,
.line8 .column1 .color {
	height: 100%;
}

.line2 .column1 .color {
	width: 20%;
	background-color: var(--white);
}

.line4 .column1 .color {
	width: 30%;
	background-color: var(--white);
}

.line8 .column1 .color {
	width: 15%;
	background-color: var(--yellow);
}

.line2 .column1,
.line4 .column1 {
	background-color: white;
}

.line2 .column1 .end-line {
	background-color: var(--line-color);
	width: 80%;
}

.line4 .column1 .end-line {
	background-color: var(--line-color);
	width: 70%;
}
