.black {
	background-color: #010101;
}

.blue {
	background-color: #021234;
}

.grey {
	background-color: #9eafbf;
}

.line-color {
	background-color: #010101;
}

.red {
	background-color: #dc0201;
}

.white {
	background-color: #e0dcdd;
}

.yellow {
	background-color: #f18c00;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

main {
	width: -moz-available;
	margin: 0;
	padding: 0;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.description {
	max-width: 80%;
	text-align: center;
	margin: 2rem 0 2rem;
}

ul.picture-list {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	position: relative;
}

.picture-label {
	margin-top: 1rem;
}

.picture {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#picture2 {
	right: 0;
	transition-duration: 3s;
}

#picture2:hover {
	left: 0;
	right: auto;
	transition-duration: 3s;
}

.col_span1 {
	grid-column: span 1;
}

.col_span2 {
	grid-column: span 2;
}

.col_span3 {
	grid-column: span 3;
}

.col_span4 {
	grid-column: span 4;
}

.col_span5 {
	grid-column: span 5;
}

.col_span6 {
	grid-column: span 6;
}

.col_span7 {
	grid-column: span 7;
}

.col_span8 {
	grid-column: span 8;
}

.col_span9 {
	grid-column: span 9;
}

.col_span10 {
	grid-column: span 10;
}

.col_span11 {
	grid-column: span 11;
}

.col_span12 {
	grid-column: span 12;
}

.col_span13 {
	grid-column: span 13;
}

.row_span1 {
	grid-row: span 1;
}

.row_span2 {
	grid-row: span 2;
}

.row_span3 {
	grid-row: span 3;
}

.row_span4 {
	grid-row: span 4;
}

.row_span5 {
	grid-row: span 5;
}

.row_span6 {
	grid-row: span 6;
}

.row_span7 {
	grid-row: span 7;
}

.row_span8 {
	grid-row: span 8;
}

.row_span9 {
	grid-row: span 9;
}

.row_span10 {
	grid-row: span 10;
}

.row_span11 {
	grid-row: span 11;
}

.row_span12 {
	grid-row: span 12;
}

.row_span13 {
	grid-row: span 13;
}

.original-picture {
	width: 35vw;
}

.dessin {
	height: 35vw;
	width: 35vw;
	background-color: beige;
	display: grid;
	grid-template-columns: 9.7% 1.8% 11% 1.8% 11.5% 1.8% 23.3% 1.8% 14.3% 1.8% 14% 1.8% 5.5%;
	grid-template-rows: 11% 1.8% 24% 1.5% 24% 1.8% 11.3% 1.8% 10.5% 1.6% 5.7% 1.5% 4%;
}

.line {
	display: grid;
}

.column {
	height: 100%;
}

.bloc {
	width: 100%;
	height: 100%;
}

.h0 {
	height: 0%;
}

.h1 {
	height: 1%;
}

.h2 {
	height: 2%;
}

.h3 {
	height: 3%;
}

.h4 {
	height: 4%;
}

.h5 {
	height: 5%;
}

.h6 {
	height: 6%;
}

.h7 {
	height: 7%;
}

.h8 {
	height: 8%;
}

.h9 {
	height: 9%;
}

.h10 {
	height: 10%;
}

.h11 {
	height: 11%;
}

.h12 {
	height: 12%;
}

.h13 {
	height: 13%;
}

.h14 {
	height: 14%;
}

.h15 {
	height: 15%;
}

.h16 {
	height: 16%;
}

.h17 {
	height: 17%;
}

.h18 {
	height: 18%;
}

.h19 {
	height: 19%;
}

.h20 {
	height: 20%;
}

.h21 {
	height: 21%;
}

.h22 {
	height: 22%;
}

.h23 {
	height: 23%;
}

.h24 {
	height: 24%;
}

.h25 {
	height: 25%;
}

.h26 {
	height: 26%;
}

.h27 {
	height: 27%;
}

.h28 {
	height: 28%;
}

.h29 {
	height: 29%;
}

.h30 {
	height: 30%;
}

.h31 {
	height: 31%;
}

.h32 {
	height: 32%;
}

.h33 {
	height: 33%;
}

.h34 {
	height: 34%;
}

.h35 {
	height: 35%;
}

.h36 {
	height: 36%;
}

.h37 {
	height: 37%;
}

.h38 {
	height: 38%;
}

.h39 {
	height: 39%;
}

.h40 {
	height: 40%;
}

.h41 {
	height: 41%;
}

.h42 {
	height: 42%;
}

.h43 {
	height: 43%;
}

.h44 {
	height: 44%;
}

.h45 {
	height: 45%;
}

.h46 {
	height: 46%;
}

.h47 {
	height: 47%;
}

.h48 {
	height: 48%;
}

.h49 {
	height: 49%;
}

.h50 {
	height: 50%;
}

.h51 {
	height: 51%;
}

.h52 {
	height: 52%;
}

.h53 {
	height: 53%;
}

.h54 {
	height: 54%;
}

.h55 {
	height: 55%;
}

.h56 {
	height: 56%;
}

.h57 {
	height: 57%;
}

.h58 {
	height: 58%;
}

.h59 {
	height: 59%;
}

.h60 {
	height: 60%;
}

.h61 {
	height: 61%;
}

.h62 {
	height: 62%;
}

.h63 {
	height: 63%;
}

.h64 {
	height: 64%;
}

.h65 {
	height: 65%;
}

.h66 {
	height: 66%;
}

.h67 {
	height: 67%;
}

.h68 {
	height: 68%;
}

.h69 {
	height: 69%;
}

.h70 {
	height: 70%;
}

.h71 {
	height: 71%;
}

.h72 {
	height: 72%;
}

.h73 {
	height: 73%;
}

.h74 {
	height: 74%;
}

.h75 {
	height: 75%;
}

.h76 {
	height: 76%;
}

.h77 {
	height: 77%;
}

.h78 {
	height: 78%;
}

.h79 {
	height: 79%;
}

.h80 {
	height: 80%;
}

.h81 {
	height: 81%;
}

.h82 {
	height: 82%;
}

.h83 {
	height: 83%;
}

.h84 {
	height: 84%;
}

.h85 {
	height: 85%;
}

.h86 {
	height: 86%;
}

.h87 {
	height: 87%;
}

.h88 {
	height: 88%;
}

.h89 {
	height: 89%;
}

.h90 {
	height: 90%;
}

.h91 {
	height: 91%;
}

.h92 {
	height: 92%;
}

.h93 {
	height: 93%;
}

.h94 {
	height: 94%;
}

.h95 {
	height: 95%;
}

.h96 {
	height: 96%;
}

.h97 {
	height: 97%;
}

.h98 {
	height: 98%;
}

.h99 {
	height: 99%;
}

.h100 {
	height: 100%;
}

.w0 {
	width: 0%;
}

.w1 {
	width: 1%;
}

.w2 {
	width: 2%;
}

.w3 {
	width: 3%;
}

.w4 {
	width: 4%;
}

.w5 {
	width: 5%;
}

.w6 {
	width: 6%;
}

.w7 {
	width: 7%;
}

.w8 {
	width: 8%;
}

.w9 {
	width: 9%;
}

.w10 {
	width: 10%;
}

.w11 {
	width: 11%;
}

.w12 {
	width: 12%;
}

.w13 {
	width: 13%;
}

.w14 {
	width: 14%;
}

.w15 {
	width: 15%;
}

.w16 {
	width: 16%;
}

.w17 {
	width: 17%;
}

.w18 {
	width: 18%;
}

.w19 {
	width: 19%;
}

.w20 {
	width: 20%;
}

.w21 {
	width: 21%;
}

.w22 {
	width: 22%;
}

.w23 {
	width: 23%;
}

.w24 {
	width: 24%;
}

.w25 {
	width: 25%;
}

.w26 {
	width: 26%;
}

.w27 {
	width: 27%;
}

.w28 {
	width: 28%;
}

.w29 {
	width: 29%;
}

.w30 {
	width: 30%;
}

.w31 {
	width: 31%;
}

.w32 {
	width: 32%;
}

.w33 {
	width: 33%;
}

.w34 {
	width: 34%;
}

.w35 {
	width: 35%;
}

.w36 {
	width: 36%;
}

.w37 {
	width: 37%;
}

.w38 {
	width: 38%;
}

.w39 {
	width: 39%;
}

.w40 {
	width: 40%;
}

.w41 {
	width: 41%;
}

.w42 {
	width: 42%;
}

.w43 {
	width: 43%;
}

.w44 {
	width: 44%;
}

.w45 {
	width: 45%;
}

.w46 {
	width: 46%;
}

.w47 {
	width: 47%;
}

.w48 {
	width: 48%;
}

.w49 {
	width: 49%;
}

.w50 {
	width: 50%;
}

.w51 {
	width: 51%;
}

.w52 {
	width: 52%;
}

.w53 {
	width: 53%;
}

.w54 {
	width: 54%;
}

.w55 {
	width: 55%;
}

.w56 {
	width: 56%;
}

.w57 {
	width: 57%;
}

.w58 {
	width: 58%;
}

.w59 {
	width: 59%;
}

.w60 {
	width: 60%;
}

.w61 {
	width: 61%;
}

.w62 {
	width: 62%;
}

.w63 {
	width: 63%;
}

.w64 {
	width: 64%;
}

.w65 {
	width: 65%;
}

.w66 {
	width: 66%;
}

.w67 {
	width: 67%;
}

.w68 {
	width: 68%;
}

.w69 {
	width: 69%;
}

.w70 {
	width: 70%;
}

.w71 {
	width: 71%;
}

.w72 {
	width: 72%;
}

.w73 {
	width: 73%;
}

.w74 {
	width: 74%;
}

.w75 {
	width: 75%;
}

.w76 {
	width: 76%;
}

.w77 {
	width: 77%;
}

.w78 {
	width: 78%;
}

.w79 {
	width: 79%;
}

.w80 {
	width: 80%;
}

.w81 {
	width: 81%;
}

.w82 {
	width: 82%;
}

.w83 {
	width: 83%;
}

.w84 {
	width: 84%;
}

.w85 {
	width: 85%;
}

.w86 {
	width: 86%;
}

.w87 {
	width: 87%;
}

.w88 {
	width: 88%;
}

.w89 {
	width: 89%;
}

.w90 {
	width: 90%;
}

.w91 {
	width: 91%;
}

.w92 {
	width: 92%;
}

.w93 {
	width: 93%;
}

.w94 {
	width: 94%;
}

.w95 {
	width: 95%;
}

.w96 {
	width: 96%;
}

.w97 {
	width: 97%;
}

.w98 {
	width: 98%;
}

.w99 {
	width: 99%;
}

.w100 {
	width: 100%;
}

.line13.column1 {
	display: flex;
	align-items: end;
}

.line2.column1 .bloc {
	width: 1.6%;
}

/*# sourceMappingURL=style.css.map */
