.popup {
    background-color     : #272727;
    padding              : 1rem;
    position             : relative;
    box-shadow           : 2px 2px 1px #111;
    display              : grid;
    grid-template-columns: 40% 60%;
    align-items          : center;
    row-gap              : 1rem;
    z-index              : 2;
}

.heading {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    height         : 100%;

    .title {
        width     : 100%;
        text-align: center;
    }

    .construction {
        font-style : italic;
        display    : flex;
        align-items: center;
        margin-top : 1rem;

        span {
            font-style  : normal;
            margin-right: .5rem;
        }
    }

}

.description {
    grid-column: span 2;
}

img.project-preview__image {
    width: 100%;
}

.tags-container,
.links-container {
    display    : flex;
    align-items: center;
    grid-column: span 2;
    gap        : 1rem;

    &:first-child {
        margin-right: 1rem;
    }

    p {
        display: flex;
    }

    ul {
        display  : flex;
        flex-wrap: wrap;
        gap      : 1rem;
    }

    a {
        color: rgb(55, 95, 207);

        &:hover {
            color: rgb(32, 77, 200);
        }
    }
}

.link {
    display           : flex;
    // justify-content: center;
    align-items       : center;
    gap               : .5rem;

    a {
        display        : flex;
        align-items    : center;
        justify-content: center;
    }
}

.link-icon {
    width: 2rem;
}

.tag {
    display        : flex;
    justify-content: center;
    align-items    : center;

    img {
        width: 2rem;
    }
}

.close-button {
    grid-column: span 2;
    position   : absolute;
    top        : 5px;
    right      : 5px;
    font-size  : 30px;
    cursor     : pointer;
    transition : color .1s;

    &:hover {
        color     : #555555;
        transition: color .1s;
    }
}

.redirection-link {
    grid-column : span 2;
    justify-self: center;
    width       : fit-content;
}

.main-button {
    grid-column : span 2;
    width       : max-content;
    text-shadow : 1px 1px 1px #000;
    box-shadow  : 4px 4px 2px 1px #111;
    transition  : .2s;
    justify-self: center;
    align-self  : center;
}