<div class="popup">
    <img
        class="project-preview__image"
        [ngClass]="{ unfinish: !project.isFinish }"
        src="{{ project.imageUrlBis }}"
        alt="{{ project.imageAlt }}"
    />
    <div class="heading">
        <h3 class="title">
            <b>{{ project.name | uppercase }}</b>
        </h3>
        <p *ngIf="!project.isFinish" class="construction">
            <span class="material-icons-outlined"> construction </span>En
            construction
        </p>
    </div>
    <p
        *ngIf="project.description"
        class="description"
        [innerHTML]="project.description | nl2br"
    ></p>
    <div class="links-container" *ngIf="project.links.length">
        <ul class="links">
            <li *ngFor="let link of project.links" class="link">
                <p class="link-title">{{ link.title }} :</p>
                <a href="{{ link.url }}" target="_blank">
                    <img
                        *ngIf="link.hasIcon"
                        class="link-icon"
                        src="{{ link.iconSrc }}"
                        alt="{{ link.iconAlt }}"
                    />
                </a>
            </li>
        </ul>
    </div>
    <div class="tags-container" *ngIf="project.tags.length > 0">
        <p><b [ngStyle]="{ 'margin-right': '3px' }">Outils</b>:</p>
        <ul class="tags">
            <li *ngFor="let tag of project.tags" class="tag">
                <abbr title="{{ tag }}">
                    <img
                        src="{{ getTagIconSource(tag) }}"
                        alt="icone de {{ tag }}"
                    />
                </abbr>
            </li>
        </ul>
    </div>
    <mat-divider
        *ngIf="project.isFinish"
        [ngStyle]="{ 'grid-column': 'span 2' }"
    ></mat-divider>
    <a
        *ngIf="!project.externalUrl"
        routerLink="{{ project.url }}"
        class="redirection-link"
    >
        <button
            *ngIf="project.isFinish"
            mat-raised-button
            class="main-button customButton blue"
        >
            Continuer
        </button>
    </a>
    <a
        *ngIf="project.externalUrl"
        href="{{ project.externalUrl ? project.url : '' }}"
        target="_blank"
        class="redirection-link"
    >
        <button
            *ngIf="project.isFinish"
            mat-raised-button
            class="main-button customButton blue"
            (click)="onClosePopup()"
        >
            Continuer
        </button>
    </a>
    <span class="material-icons-outlined close-button" (click)="onClosePopup()">
        close
    </span>
    <div style="clear: both"></div>
</div>
