.move {
    width                : 100%;
    height               : 24%;
    padding              : 0.15rem 0rem 0.15rem 1rem;
    text-align           : center;
    color                : #1a1a1a;
    font-size            : 0.7em;
    display              : grid;
    grid-template-rows   : 100%;
    grid-template-columns: auto min-content 15%;
    align-items          : center;
    column-gap           : 0.3rem;
    border-radius        : 2px;
    position             : absolute;

    &.p0 {
        top: 0;
    }

    &.p1 {
        top: 25%;
    }

    &.p2 {
        top: 50%;
    }

    &.p3 {
        top: 75%;
    }

    .label {
        width     : inherit;
        text-align: start;

        &.columnSpan2 {
            grid-column: span 2;
        }
    }

    .icon {
        width: 1.2rem;
    }
}

.bug {
    background  : linear-gradient(#a8b820, #8d9a1b);
    border-color: #616b13;
}

.dark {
    background  : linear-gradient(#705848, #513f34);
    border-color: #362a23;
}

.dragon {
    background  : linear-gradient(#7038f8, #4c08ef);
    border-color: #3d07c0;
}

.electric {
    background  : linear-gradient(#f8d030, #f0c108);
    border-color: #c19b07;
}

.fairy {
    background  : linear-gradient(#f98cff, #f540ff);
    border-color: #c1079b;
}

.fighting {
    background  : linear-gradient(#c03028, #9d2721);
    border-color: #82211b;
}

.fire {
    background  : linear-gradient(#f08030, #dd6610);
    border-color: #b4530d;
}

.flying {
    background  : linear-gradient(#a890f0, #9180c4);
    border-color: #7762b6;
}

.ghost {
    background  : linear-gradient(#705898, #554374);
    border-color: #413359;
}

.grass {
    background  : linear-gradient(#78c850, #5ca935);
    border-color: #4a892b;
}

.ground {
    background  : linear-gradient(#e0c068, #d4a82f);
    border-color: #aa8623;
}

.ice {
    background  : linear-gradient(#98d8d8, #69c6c6);
    border-color: #45b6b6;
}

.normal {
    background  : linear-gradient(#a8a878, #8a8a59);
    border-color: #79794e;
}

.poison {
    background  : linear-gradient(#a040a0, #803380);
    border-color: #662966;
}

.psychic {
    background  : linear-gradient(#f85888, #f61c5d);
    border-color: #d60945;
}

.rock {
    background  : linear-gradient(#b8a038, #93802d);
    border-color: #746523;
}

.steel {
    background  : linear-gradient(#b8b8d0, #9797ba);
    border-color: #7a7aa7;
}

.water {
    background  : linear-gradient(#6890f0, #386ceb);
    border-color: #1753e3;
}