<li
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
    class="move {{ getType() | lowercase }} {{ 'p' + moveIndex }}"
>
    <abbr
        title="{{ getDesc() }}"
        class="label"
        [ngClass]="{ columnSpan2: getPower() === 0 }"
    >
        {{ name }}
    </abbr>

    <p *ngIf="getPower() > 0" class="power">{{ getPower() }}</p>

    <img
        class="icon"
        src="{{ getCategoryUrl() }}"
        alt="{{ getCategory() }} icon"
    />
</li>
