<app-header [title]="'Draft'"></app-header>

<main>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <fieldset class="tier-fieldset">
            <label for="tier">Tier</label>
            <select name="tier" ngModel [ngModel]="tier">
                <option value="uber">UBER</option>
                <option value="ou">OU</option>
                <option value="uu">UU</option>
                <option value="ru">RU</option>
                <option value="nu">NU</option>
                <option value="pu">PU</option>
                <option value="zu">ZU</option>
            </select>
        </fieldset>
        <fieldset class="teams-fieldset">
            <label for="team1">Team 1</label>
            <div class="team-fieldset">
                <input
                    id="team1file"
                    type="file"
                    (change)="onFile1Change($event)"
                    #file1
                    accept=".txt, .md"
                />

                <input
                    id="team1"
                    name="team1"
                    type="text"
                    ngModel
                    [ngModel]="team1"
                    placeholder="Pikachu / Seismitoad / Alakazam"
                />
                <button type="button" class="clear" (click)="resetTeam1()">
                    X
                </button>
            </div>

            <div class="separation-line"></div>

            <label for="team2">Team 2</label>
            <div class="team-fieldset">
                <input
                    id="team2file"
                    type="file"
                    (change)="onFile2Change($event)"
                    #file2
                    accept=".txt, .md"
                />

                <input
                    id="team2"
                    name="team2"
                    type="text"
                    ngModel
                    [ngModel]="team2"
                />
                <button type="button" class="clear" (click)="resetTeam2()">
                    X
                </button>
            </div>
        </fieldset>
        <button type="submit" class="submit-button">Submit</button>
    </form>
</main>
