main {
    height         : 90vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : 0;
}

form {
    width           : max-content;
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    align-items     : center;
    padding         : 2rem;
    border          : 1px solid #ccc;
    background-color: #323232;

    fieldset {
        border               : 1px solid;
        display              : grid;
        grid-template-columns: auto auto;
        padding              : 1rem;
        row-gap              : 1rem;
        margin-bottom        : 2rem;
        align-self           : flex-start;

        &.tier-fieldset {
            select {
                width: 4rem;
            }
        }

        button.clear {
            margin          : auto;
            border          : none;
            border-radius   : 0;
            background-color: transparent;
            padding         : 0 0 0 .5rem;
            color           : #ccc;
        }

        .separation-line {
            width: 100%;
            height: 1px;
            background-color: #ccc;
            grid-column: span 2;
            justify-self: center;
        }
    }

    .team-fieldset {
        display: grid;
        grid-template-columns: 2;
        row-gap: .5rem;

        :first-child {
            grid-column: span 2;
        }
    }

    input:first-child {
        grid-column: span 3;
    }

    label {
        margin-right: 1rem;
    }

    button {
        all             : unset;
        border          : 2px #ccc solid;
        border-radius   : 30px;
        padding         : 1rem;
        background-color: #464646;
        color           : rgb(120, 204, 120);
        cursor          : pointer;
        transition      : 0.1s;
        font-size       : large;
    }

    button:hover {
        background-color: #505050;
        transition      : 0.1s;
    }
}