/* ! Form
! ============================================================================================================================ */

form.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    background-color: #323232;
    width: 50vw;
}

.form-container {
    display: flex;
}

.form fieldset {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.form legend {
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: italic;
    font-weight: bold;
}

.form .field {
    margin: 0.5em 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 550px) {
    .form .field {
        flex-direction: row;
    }
}

.form label {
    width: 25%;
    min-width: 8rem;
    display: flex;
}

.form .field input,
.form .field select,
.form .field textarea {
    width: 70%;
}

.form-footer {
    margin: 2rem 0;
}

.form-footer * {
    color: black;
    text-decoration: none;
}

/* .event-link button.delete, */
.form-footer button.submit-button {
    all: unset;
    border: 2px #ccc solid;
    border-radius: 30px;
    padding: 1rem;
    background-color: #464646;
    color: rgb(120, 204, 120);
    cursor: pointer;
    transition: 0.1s;
    font-size: large;
}

.event-link button.delete {
    all: unset;
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #464646;
    color: rgb(204, 120, 120);
    cursor: pointer;
    transition: 0.1s;
}

.event-link button.delete:hover,
.form-footer button.submit-button:hover {
    background-color: #505050;
    transition: 0.1s;
}
