<app-header [title]="'Cryptographie'"></app-header>

<main>
    <section id="offset_encryption" class="encryption">
        <h2 class="grid-column-span-2">Chiffrement par décalage</h2>
        <label for="offset">Décalage ({{ offsetControl.value }}) :</label>
        <input
            type="range"
            name="offset"
            id="offset"
            min="0"
            max="25"
            step="1"
            [formControl]="offsetControl"
        />
        <label for="offset-encrypted_message">Message chiffré :</label>
        <input
            [formControl]="offsetEncryptedMessageControl"
            type="text"
            id="offset-encrypted_message"
        />
        <label for="offset-decrypted_message">Message déchiffré :</label>
        <p id="offset-decrypted_message">
            {{ getOffsetDecryptedMessage() }}
        </p>
    </section>
</main>
