.encryption {
    display              : grid;
    grid-template-columns: auto auto;
    align-items          : center;
    gap                  : 1rem;
    margin               : 5rem;
    background-color     : #323232;
    border               : 1px #ccc solid;
    padding              : 2rem;
}