// ! ====================================================================================================
// !                                                                                                    \
// !                                         Éléments généraux                                          \
// !                                                                                                    \
// ! ====================================================================================================

*,
::after,
::before {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
    color     : #222;
}

// html {
//     width : fit-content;
//     height: 141vw;
// }

@media print {
    html {
        font-size: 12px;
    }
}

// ! ====================================================================================================
// !                                                                                                    \
// !                                              Contenu                                               \
// !                                                                                                    \
// ! ====================================================================================================

// body {
//     height : inherit;
//     display: flex;
// }

aside {
    padding         : 1rem;
    background-color: hsl(280, 3%, 78%);
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    height          : 100%;
    width           : 30vw;

    .name {
        justify-content: center;

        h1.label {
            text-align: center;
            margin    : 2rem 0;
            font-size : 28px;
        }
    }
}

h2 {
    margin: 1.0rem 0 1rem;
}

li {
    list-style : none;
    display    : flex;
    align-items: center;
    margin     : 1rem 0.1rem;
    width      : 100%;
}

.language-item {
    margin: 0.6rem 0.1rem;
}

.icon {
    display        : flex;
    justify-content: center;
    align-items    : center;

    img,
    svg {
        width     : 1.5rem;
        max-height: 1.5rem;
    }
}

.contact {
    .label {
        margin: 0 0.5rem;
    }
}

.language,
.framework {
    .icon {
        box-sizing: content-box;
    }

    .label {
        width: inherit;
    }
}

.label {
    margin: 0 1rem;
}

.level {
    margin-left : 0.5rem;
    display     : flex;
    justify-self: end;
}

.level>*:not(:first-child) {
    margin-left: 0.2rem;
}

.piece {
    width           : 0.8rem;
    height          : 0.8rem;
    background-color: blanchedalmond;
    border-radius   : 50%;
    box-sizing      : content-box;
}

.piece.active {
    background-color: #222;
}

main {
    border                  : 1px black solid;
    margin                  : 1rem;
    background-color        : hsl(0, 0%, 100%);
    height                  : 100%;
    display                 : grid;
    grid-template-columns   : 1fr 1fr;
    // padding              : 0 0 2rem 1rem;
    justify-content         : space-between;

    h2 {
        margin: 1.5rem 0 1rem;
    }

    ul {
        display        : flex;
        flex-direction : column;
        justify-content: space-evenly;
    }

    li {
        margin-bottom: 0;
    }

    section {
        grid-column   : span 2;
        display       : flex;
        flex-direction: column;
    }

    section:not(:first-child) {
        padding-right: 10%;
    }

    section.skill,
    section.interest {
        grid-column: span 1;
    }
}

.header {
    height        : 13rem;
    flex-direction: row;
    align-items   : center;
    margin        : 1rem 1rem 0 0;
    position      : relative;

    h1 {
        width     : -moz-available;
        font-size : 28px;
        text-align: center;
    }

    .profilePicture__img {
        border: 1px #222 solid;
        height: 100%;
    }
}

.diplome-item,
.training-item,
.experience-item {
    display              : grid;
    grid-template-columns: 8rem auto;
    align-items          : baseline;
    justify-content      : baseline;

    .date {
        margin-left: 1rem;
    }

    .label {
        margin: 0;
    }
}

.training-item .date {
    grid-row: span 3;
}

.skill-list,
.interest-list {
    margin-left: 1rem;
}