.mine-picture {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.mine-top {
    height                 : 10%;
    width                  : 30%;
    background-color       : red;
    border-top-left-radius : 50%;
    border-top-right-radius: 50%;
    animation              : clignote infinite 1s linear;
}

.mine-base {
    height          : 35%;
    width           : 80%;
    border          : green 1px solid;
    border-radius   : 50%;
    background-color: green;
}

.mine-active {
    animation: explode infinite 3s linear;
}

@keyframes explode {
    0% {
        background-color: white;
    }

    25% {
        background-color: orange;
    }

    50% {
        background-color: red;
    }

    75% {
        background-color: orange;
    }

    100% {
        background-color: white;
    }
}

@keyframes clignote {
    0% {
        background-color: white;
    }

    30% {
        background-color: #ff0000;
    }

    50% {
        background-color: red;
    }

    70% {
        background-color: #ff0000;
    }

    100% {
        background-color: white;
    }
}