$mines-background_color: rgb(235, 235, 255),
rgb(215, 215, 255),
rgb(175, 175, 255),
rgb(135, 135, 255),
rgb(255, 255, 160),
rgb(255, 255, 80),
rgb(255, 150, 150),
rgb(255, 100, 100),
rgb(255, 50, 50);

.cell {
    width           : 40px;
    height          : 40px;
    background-color: #323232;
    display         : flex;
    justify-content : center;
    align-items     : center;
    cursor          : pointer;
    transition      : background-color ease .1s;
    color           : #323232;

    &:hover {
        transition      : background-color ease .1s;
        background-color: #404040;
    }

    &.reveal {
        cursor: default;

        &.mine {
            border-radius   : 50%;
            background-color: rgb(218, 128, 55);
        }

        @for $i from 1 to 9 {
            &[neighbours='#{$i - 1}']:not(.mine) {
                background-color: nth($mines-background_color, $i);
            }
        }
    }

    .flag-container {
        height         : 70%;
        width          : 80%;
        display        : flex;
        justify-content: center;

        .mat {
            margin-left     : 5px;
            height          : 100%;
            width           : 10%;
            background-color: rgb(255, 179, 57);
            border-radius   : 2px;
        }

        .drapeau {
            position: relative;
            height  : 50%;
            width   : 60%;
        }

        .drapeau::after {
            content     : '';
            position    : absolute;
            top         : 1px;
            border-color: transparent transparent transparent red;
            border-width: 8px 0 8px 17px;
            border-style: solid;
        }

    }
}