<div
    class="cell mine-picture"
    [ngClass]="{ mine: isMine, reveal: isReveal, flag: isFlagged }"
    [attr.neighbours]="closeMineCount"
>
    <div *ngIf="isMine && isReveal" class="mine-top"></div>
    <div *ngIf="isMine && isReveal" class="mine-base"></div>
    <p *ngIf="!isMine && isReveal && closeMineCount > 0">
        {{ closeMineCount }}
    </p>
    <div class="flag-container" *ngIf="isFlagged && !isReveal">
        <div class="mat"></div>
        <div class="drapeau"></div>
    </div>
</div>
