$yellow : #ffff00b2;
$red    : #ff0000b2;

.cell {
    height          : 100%;
    width           : 100%;
    cursor          : pointer;
    border-radius   : 50%;
    background-color: #979797;
}

.red {
    background-color: $red;

    &.win {
        animation: redWin infinite 1.5s linear;
    }
}

.yellow {
    background-color: $yellow;

    &.win {
        animation: yellowWin infinite 1.5s linear;
    }
}

@keyframes yellowWin {
    0% {
        background-color: $yellow;
    }

    50% {
        background-color: rgb(128, 115, 0);
    }

    100% {
        background-color: $yellow;
    }
}

@keyframes redWin {
    0% {
        background-color: $red;
    }

    50% {
        background-color: rgb(128, 0, 60);
    }

    100% {
        background-color: $red;
    }
}