<div
    *ngIf="damages.max > 0"
    class="damage
     {{ damages.moveType | lowercase }}"
    [ngClass]="{ isLeft: isLeft, isRight: !isLeft }"
>
    <div class="values">
        <p class="avg">{{ damages.avg | percent }}</p>
        <div class="separation-line"></div>
        <div class="minmax">
            <p class="min">{{ damages.min | percent }}</p>
            <p class="max">{{ damages.max | percent }}</p>
        </div>
    </div>

    <div class="move-name">
        {{ damages.moveName }}
    </div>
</div>
