.customButton {
    width      : fit-content;
    color      : #ccc;
    text-shadow: 1px 1px 1px #000;
    box-shadow : 1px 1px 1px #111;
    cursor     : pointer;

    &:active {
        top : 1px;
        left: 1px;
    }

    &.blue {
        background-color: rgb(13, 27, 73);

        &:active,
        &:hover {
            background-color: rgb(13, 27, 73);
        }
    }

    &.green {
        background-color: rgb(17, 68, 10);

        &:active,
        &:hover {
            background-color: rgb(20, 73, 13);
        }

    }

    &.light-green {
        color           : black;
        background-color: rgb(198, 255, 190);
        text-shadow     : none;

        &:active,
        &:hover {
            background-color: rgb(150, 255, 136);
        }

    }

    &.light-blue {
        background-color: rgb(0, 119, 113);

        &:active,
        &:hover {
            background-color: rgba(0, 119, 113, .7);
        }
    }

    &.light-blue-2 {
        background-color: hsl(234, 38%, 68%);
        color           : black;
        text-shadow     : none;

        &:active,
        &:hover {
            background-color: hsl(233, 37%, 50%);
        }
    }

    &.orange {
        background-color: rgb(214, 79, 0);

        &:active,
        &:hover {
            background-color: rgba(214, 79, 0, .7);
        }
    }

    &.red {
        background-color: rgb(180, 0, 0);

        &:active,
        &:hover {
            background-color: rgba(180, 0, 0, .7);
        }
    }

    &.red2 {
        background-color: rgb(192, 20, 20);

        &:active,
        &:hover {
            background-color: rgba(192, 20, 20, .7);
        }
    }

}

button.raw {
    background: none;
    color     : inherit;
    border    : none;
    padding   : 0;
    cursor    : pointer;
    outline   : inherit;
}