@for $i from 2 to 10 {
    .grid-column-span-#{$i} {
        grid-column: span $i;
    }

    .grid-row-span-#{$i} {
        grid-row: span $i;
    }
}

.pointer {
    cursor: pointer;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.no-decoration {
    text-decoration: none;
}