/* You can add global styles to this file, and also import other style files */
@import "button";
@import "variables";
@import "classes";

*,
::before,
::after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    background-color: $background-color;
    color           : $text-color;
    font-size       : clamp(12px, 2vw, 16px);
    width           : 100%;
    min-height      : 100vh;

    a {
        color: $text-color;
    }
}

footer {
    bottom: 0;
}

main {
    // Le header fait 10vh
    // min-height     : calc(90vh - 2rem);
    min-height     : max-content;
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 1rem;
    margin         : 1rem;
}

aside {
    background-color: #464646;
    box-shadow      : 2px 2px 1px #111;
    padding         : 1.5rem;
    border          : 1px black solid;
    display         : flex;
    flex-direction  : column;
    gap             : 1rem;
    max-width       : 90vw;

    &>* {
        display    : flex;
        align-items: center;
    }

    input {
        width: fit-content;
    }
}

@media (orientation: landscape) {
    main {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    main {
        flex-direction: column;
    }
}