<app-header [title]="'Taquin'"></app-header>

<main class="taquin">
    <div class="main-container">
        <div class="game" [ngClass]="{ finish: finish }">
            <img
                id="source-image"
                src="{{ imageUrl }}"
                [ngClass]="{ show: showOriginal }"
            />
            <ul
                class="canvas-list"
                [ngClass]="{ hide: showOriginal }"
                [ngStyle]="{
                    'grid-template-columns': getGridTemplate(),
                    'grid-template-rows': getGridTemplate()
                }"
            >
                <canvas
                    *ngFor="let item of list; index as imageIndex"
                    [id]="'a' + imageIndex"
                    class="canvas"
                    [ngClass]="{ empty: isLast(imageIndex) && !finish }"
                    (click)="onClick(imageIndex)"
                ></canvas>
            </ul>
            <div *ngIf="loading" class="loading">
                <img src="assets/icons/timer.png" alt="Sablier" />
            </div>
        </div>
    </div>
    <aside class="side_bar">
        <div class="difficulty-container">
            <label for="difficulty">Difficulté</label>
            <input
                (change)="onDifficultyChange()"
                [formControl]="difficultyControl"
                type="range"
                name="difficulty"
                id="difficulty"
                step="1"
                min="2"
                max="6"
            />
            <p>
                {{ difficultyControl.value }}
            </p>
        </div>

        <button
            id="replayButton"
            class="customButton green"
            (click)="replay()"
            mat-raised-button
        >
            Nouvelle partie
        </button>
        <button
            class="customButton orange"
            mat-raised-button
            routerLink="/taquin/choice"
        >
            Changer d'image
        </button>
        <button
            class="customButton blue"
            mat-raised-button
            (click)="onShowImage()"
            *ngIf="!finish"
        >
            <p *ngIf="!showOriginal">Voir l'image</p>
            <p *ngIf="showOriginal">Reprendre la partie</p>
        </button>
    </aside>
</main>
