#source-image {
    opacity   : 0;
    max-width : 100%;
    max-height: 80vh;
    cursor    : pointer;
    border    : 1px black solid;

    &.show {
        transition: opacity .7s ease-in-out;
        opacity   : 1;
    }
}

.finish {
    #source-image {
        opacity: 1;
    }

    .canvas-list {
        opacity: 0;
    }
}

.main-container {
    padding         : 1rem;
    background-color: #464646;
    border          : 1px black solid;
    box-shadow      : 2px 2px 1px #111;
}

aside {
    .difficulty-container {
        display       : flex;
        flex-direction: row;
        gap           : 1rem;
    }
}

.game {
    position  : relative;
    max-height: 80vh;
}

.loading {
    background-color: #464646;
    height          : 100%;
    width           : 100%;
    position        : absolute;
    top             : 0;
    z-index         : 1;
    display         : flex;
    justify-content : center;
    align-items     : center;

    img {
        max-height  : 30%;
        margin-right: 1rem;
        animation   : 1.3s ease-in-out 0s infinite normal none running tourne;
    }

    @keyframes tourne {

        100% {
            transform: rotate(180deg);
        }
    }
}


.canvas-list {
    width   : 100%;
    height  : 100%;
    position: absolute;
    top     : 0;
    left    : 0;
    display : grid;

    .empty {
        opacity : 0;
        position: relative;
    }

    &.hide {
        opacity: 0;
    }
}

.canvas {
    width           : 100%;
    height          : 100%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: transparent;
    z-index         : 1;
    cursor          : pointer;
    position        : relative;
    border-radius   : 10px;
    border          : .3px solid hsl(0, 0%, 16%);

    p {
        z-index  : 2;
        position : absolute;
        color    : yellow;
        font-size: xx-large;
    }

    &.empty {
        cursor: default;
    }
}

.finish .canvas-list .canvas {
    border-radius: 0;
    border       : inherit;
    transition   : border border-radius 5s ease-in-out;
    cursor       : default;
}

@for $i from 1 through 36 {
    .canvas[order="#{$i}"] {
        order: #{$i};
    }
}

.moveDown {
    transform : translateY(100%);
    transition: transform .2s ease-in-out;
}

.moveUp {
    transform : translateY(-100%);
    transition: transform .2s ease-in-out;
}

.moveLeft {
    transform : translateX(-100%);
    transition: transform .2s ease-in-out;
}

.moveRight {
    transform : translateX(100%);
    transition: transform .2s ease-in-out;
}