<app-header [title]="'Puissance 4'"></app-header>

<main>
    <div class="grid">
        <app-connect4cell
            *ngFor="let color of getBoard().getCells(); index as cellIndex"
            [color]="color"
            (click)="onPlay(cellIndex)"
            [win]="winningIndexs.includes(cellIndex)"
        ></app-connect4cell>
    </div>

    <aside>
        <div class="bot-timer" *ngIf="playingVsBot && !winner">
            <img
                *ngIf="currentPlayer === 'yellow'"
                src="assets/icons/timer.png"
                alt="Sablier"
            />
            <p *ngIf="currentPlayer === 'yellow'">
                L'IA fait des calculs trés compliqués ...
            </p>
            <p *ngIf="currentPlayer === 'red'">
                L'IA attends que l'humain se décide ...
            </p>
        </div>
        <mat-divider *ngIf="playingVsBot && !winner"></mat-divider>
        <p *ngIf="!winner">
            Prochain joueur :
            <span
                class="playerColor"
                [ngClass]="{
                    red: currentPlayer === 'red',
                    yellow: currentPlayer === 'yellow'
                }"
            >
                {{ currentPlayer === "red" ? "Rouge" : "Jaune" }}</span
            >
        </p>
        <p *ngIf="winner">
            Victoire des
            <span
                class="playerColor"
                [ngClass]="{
                    red: winner == 'red',
                    yellow: winner == 'yellow'
                }"
                >{{ winner === "red" ? "Rouges" : "Jaunes" }}</span
            >
        </p>
        <div class="input" (click)="onChangeOpponentType()">
            <div class="but">
                <div class="boule" [ngClass]="{ checked: playingVsBot }"></div>
            </div>
            <label>Intelligence artificielle</label>
        </div>
        <button
            (click)="onNewGame()"
            mat-raised-button
            class="customButton green"
        >
            Nouvelle partie
        </button>
    </aside>
</main>
