main {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
    overflow       : hidden;
    min-height     : 90vh;
}

.grid {
    border               : #464646 1vw solid;
    box-shadow           : 2px 2px 1px #111;
    padding              : .5vw;
    $gridWidthVW         : 90vmin;
    display              : grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows   : repeat(6, 1fr);
    gap                  : 2px;
    background-color     : #16093b;
    width                : $gridWidthVW;
    height               : calc($gridWidthVW * 6 / 7);
}

aside {
    background-color: #464646;
    box-shadow      : 2px 2px 1px #111;
    padding         : 1.5rem;
    border          : 1px black solid;
    display         : flex;
    flex-direction  : column;
    width           : 23rem;

    .bot-timer {
        height: 2rem;

        img {
            max-width   : 2rem;
            max-height  : 2rem;
            margin-right: 1rem;
            animation   : 1s ease-in-out 0s infinite normal none running tourne;
        }


        @keyframes tourne {

            100% {
                transform: rotate(180deg);
            }
        }
    }
}

.playerColor {
    margin-left: 6px;
    text-shadow: 1px 1px 1px #000;

    &.red {
        color: #ff6666;
    }

    &.yellow {
        color: rgb(255, 255, 79);
    }
}