.input {
    display    : flex;
    align-items: center;

    .but {
        width           : 2.7rem;
        height          : 1.5rem;
        background-color: rgb(122, 122, 122);
        border-radius   : 3rem;
        margin-right    : 1rem;
        cursor          : pointer;
        display         : flex;
        align-items     : center;

        .boule {
            width           : 1rem;
            height          : 1rem;
            border-radius   : 10px;
            background-color: rgb(45, 49, 66);
            transition      : all .2s;
            transform       : translateX(.3rem);

            &.checked {
                transition      : all .2s;
                transform       : translateX(1.4rem);
                background-color: rgb(255, 110, 47);
            }
        }
    }
}