<app-header [title]="'Mines'"></app-header>

<main>
    <div
        class="grid"
        [ngStyle]="{
            'grid-template-columns': getGridTemplateColumns(),
            'grid-template-rows': getGridTemplateRows()
        }"
    >
        <app-mine
            *ngFor="let mine of board.getCells(); index as mineIndex"
            [mineIndex]="mineIndex"
            [isMine]="mine.getIsMine()"
            [isReveal]="mine.getIsReveal()"
            [isFlagged]="mine.getIsFlagged()"
            [closeMineCount]="
                board.getCloseMineCount(board.getPositionOfIndex(mineIndex))
            "
            (click)="onClick(mineIndex)"
            (auxclick)="onAuxclick($event, mineIndex)"
            (contextmenu)="preventContextMenu($event)"
        ></app-mine>
    </div>

    <aside>
        <div class="info">
            <p *ngIf="isInitialized && !board.getIsFinish()">
                Il reste {{ board.undiscoveredMinesCount() }} mine{{
                    board.undiscoveredMinesCount() > 1 ? "s" : ""
                }}.
            </p>
            <p *ngIf="isInitialized && board.getIsFinish() && board._isWin">
                Gagné !
            </p>
            <p *ngIf="isInitialized && board.getIsFinish() && board._isLoose">
                Perdu ...
            </p>
        </div>
        <mat-divider *ngIf="isInitialized"></mat-divider>
        <div class="difficulty">
            <button
                mat-raised-button
                class="customButton light-blue"
                (click)="setDifficulty('easy')"
            >
                Facile
            </button>
            <button
                mat-raised-button
                class="customButton orange"
                (click)="setDifficulty('medium')"
            >
                Moyen
            </button>
            <button
                mat-raised-button
                class="customButton red"
                (click)="setDifficulty('hard')"
            >
                Difficile
            </button>
        </div>

        <div class="form-group">
            <label for="Height">Largeure</label>
            <input
                type="number"
                id="Height"
                [(ngModel)]="height"
                min="3"
                max="50"
            />
            <label for="Length">Hauteur</label>
            <input
                type="number"
                id="Length"
                [(ngModel)]="length"
                min="3"
                max="50"
            />
            <label for="mineCount">Nombre de mines</label>
            <input
                type="number"
                id="mineCount"
                [(ngModel)]="mineCount"
                min="1"
            />
            <button
                (click)="onNewGame()"
                mat-raised-button
                class="customButton green"
            >
                Nouvelle partie
            </button>
        </div>
    </aside>
</main>
