main {
    display           : flex;
    justify-content   : space-evenly;
    align-items       : center;
    // width          : max(100%, calc(100vw - 12px));
    gap               : 2rem;
}

.grid {
    border          : #464646 1vw solid;
    box-shadow      : 5px 5px 2px #111;
    padding         : 1px;
    display         : grid;
    gap             : 1px;
    background-color: #000;
    max-width       : 60vw;
    max-height      : 80vh;
    overflow        : auto;
}

@media (orientation: portrait) {
    .grid {
        margin-top: 1rem;
        max-width : 90vw;
        max-height: 60vh;
    }

    .difficulty {
        margin-bottom: 1rem;
    }
}

aside {
    input {
        width: 3rem;
    }

    .form-group {
        display              : grid;
        grid-template-columns: 1fr .6fr;
        gap                  : 1rem;
    }

    button {
        align-self: center;
    }
}

.difficulty {
    display        : flex;
    justify-content: space-evenly;

    *:not(:first-child) {
        margin-left: 1rem;
    }
}