<app-header [title]="'Mondrian'"></app-header>
<main class="mondrian transparent">
    <div class="main-container">
        <div class="description">
            <p>
                Reproduction de l'œuvre,
                <a
                    href="https://www.piet-mondrian.org/composition-with-large-red-plane-yellow-black-gray-and-blue.jsp#prettyPhoto"
                    target="_blank"
                    >Composition en rouge, jaune, bleu et noir</a
                >
                de <i>Piet Mondrian</i>, en html et css.
            </p>
        </div>

        <ul class="picture-list">
            <li class="picture">
                <img
                    src="assets/images/mondrian.jpg"
                    alt="Œuvre originale"
                    class="original-picture"
                />
                <p class="picture-label">Originale</p>
            </li>
            <li id="picture2" class="picture">
                <div class="dessin">
                    <div class="line1 column column1 col_span3 grey"></div>
                    <div class="line1 column column2 black">
                        <div class="bloc white h20"></div>
                    </div>
                    <div class="line1 column column3 col_span3 white"></div>
                    <div class="line1 column column4 black">
                        <div class="bloc yellow h12"></div>
                    </div>
                    <div class="line1 column column5 col_span3 yellow"></div>
                    <div class="line1 column column6 black">
                        <div class="bloc yellow h30"></div>
                    </div>
                    <div class="line1 column column7 row_span7 grey"></div>

                    <div class="line2 column column1 col_span12 black">
                        <div class="bloc grey"></div>
                    </div>

                    <div class="line3 column column1 white"></div>
                    <div class="line3 column column2 black"></div>
                    <div
                        class="line3 column column3 col_span5 row_span3 red"
                    ></div>
                    <div class="line3 column column4 black"></div>
                    <div class="line3 column column5 col_span3 yellow"></div>
                    <div class="line3 column column6 black"></div>

                    <div class="line4 column column1 col_span2 black">
                        <div class="bloc grey w16"></div>
                    </div>
                    <div class="line4 column column2 col_span5 black"></div>

                    <div class="line5 column column1 row_span3 grey"></div>
                    <div class="line5 column column2 black"></div>
                    <div class="line5 column column3 black"></div>
                    <div class="line5 column column4 white"></div>
                    <div class="line5 column column5 black"></div>
                    <div class="line5 column column6 white"></div>
                    <div class="line5 column column7 black"></div>

                    <div class="line6 column column1 col_span11 black"></div>

                    <div class="line7 column column1 black"></div>
                    <div class="line7 column column2 black"></div>
                    <div class="line7 column column3 black"></div>
                    <div class="line7 column column4 black"></div>
                    <div class="line7 column column5 black"></div>
                    <div class="line7 column column6 grey"></div>
                    <div class="line7 column column7 black"></div>
                    <div class="line7 column column8 white col_span3"></div>
                    <div class="line7 column column9 black"></div>

                    <div class="line8 column column1 col_span13 black">
                        <div class="bloc yellow w1"></div>
                    </div>

                    <div class="line9 column column1 row_span5 yellow"></div>
                    <div class="line9 column column2 black"></div>
                    <div class="line9 column column3 black"></div>
                    <div class="line9 column column4 black"></div>
                    <div class="line9 column column5 black"></div>
                    <div class="line9 column column6 black"></div>
                    <div class="line9 column column7 grey"></div>
                    <div class="line9 column column8 black"></div>
                    <div
                        class="line9 column column9 col_span3 row_span3 blue"
                    ></div>
                    <div class="line9 column column10 black"></div>
                    <div class="line9 column column11 row_span5 red"></div>

                    <div class="line10 column column1 col_span7 black"></div>
                    <div class="line10 column column2 black"></div>

                    <div class="line11 column column1 black"></div>
                    <div
                        class="line11 column column2 col_span3 row_span3 white"
                    ></div>
                    <div class="line11 column column3 col_span3 black"></div>
                    <div class="line11 column column4 black"></div>

                    <div class="line12 column column1 black"></div>
                    <div class="line12 column column2 col_span7 black"></div>

                    <div class="line13 column column1 black">
                        <div class="bloc yellow h70"></div>
                    </div>
                    <div class="line13 column column2 black"></div>
                    <div class="line13 column column3 col_span5 white"></div>
                    <div class="line13 column column4 black"></div>
                </div>

                <p class="picture-label">Reproduction</p>
            </li>
        </ul>
    </div>
</main>
