.notPopup {
    position        : fixed;
    top             : 0;
    height          : 100%;
    width           : 100%;
    z-index         : 1;
    opacity         : .6;
    background-color: #464646;
}

main {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : flex-start;
    min-height      : auto;
    background-color: #464646;
    margin          : 3vh 5vw;
    padding         : 1rem;
    box-shadow      : 2px 2px 1px #111;
    gap             : 4rem;
}

.presentation {
    display       : flex;
    flex-direction: column;
    gap           : 1rem;
}

.project-popup {
    position : fixed;
    min-width: 80%;
    max-width: 80%;
    z-index  : 2;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 800px) {
    .project-popup {
        min-width: 60%;
    }
}

ul.project-list {
    display              : grid;
    grid-template-columns: 1fr;
    gap                  : 1rem;
}

@media screen and (min-width: 450px) {
    ul.project-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 600px) {
    ul.project-list {
        grid-template-columns: repeat(3, 1fr);
    }
}