<app-header [title]="'Portfolio'"></app-header>

<main class="homepage">
    <article class="presentation">
        <h2>Bienvenue !</h2>
        <p>
            Je m'appelle <span class="italic">Valentin SILVESTRE</span>, et je
            suis développeur web depuis l'obtention de mon diplôme en janvier
            2022.<br />
            J'utilise ce site en tant que portfolio pour présenter les projets
            informatiques que j'ai réalisé.
        </p>
        <p>
            Je suis actuellement en recherche d'emploi, pour le poste de
            développeur web, full stack, front-end ou back-end, je n'ai pas de
            réelle préférence et ne me suis pas spécialisé dans un domaine non
            plus.
        </p>
        <p>
            Ma passion principale est le sport, particulièrement le handball,
            j'en pratique depuis mes 8 ans et j'aime la compétition, la vie de
            groupe, les victoires collectives. Viens juste aprés l'informatique,
            que j'ai découvert sur le tard, à mon entrée en fac. Initialement je
            voulais juste faire des maths et j'ai rapidement fais un parcours
            math-info avec 50% de maths et 50% d'informatique.
        </p>
        <p>
            Je suis particulièrement intéréssé par l'algorithmie, où je
            m'entraîne sur
            <a
                href="https://www.codingame.com/profile/50aac0038b6ddc1c83d375dff83804070630351"
                class="bold italic"
                target="_blank"
                >Codingame</a
            >. Je participe également aux battleDev organisées par le blog du
            modérateur, sur
            <a
                class="bold italic"
                href="https://www.isograd-testingservices.com/FR/solutions-challenges-de-code?cts_id=82&reg_typ_id=2&que_str_id=&rtn_pag=https%3A%2F%2Fwww.isograd-testingservices.com%2F%2FFR%2Fsolutions-challenges-de-code%3Fcts_id%3D-999999999"
                target="_blank"
                >Isograd</a
            >, qui sont des concours d'algorithmie réunissant des milliers de
            développeurs.
        </p>
        <p>
            Voici mon
            <a
                href="assets/documents/CV_Valentin_SILVESTRE.pdf"
                target="_blank"
                class="bold italic"
                >CV</a
            >, mon profil
            <a
                href="https://www.linkedin.com/in/valentin-silvestre1/"
                target="_blank"
                class="bold italic"
                >Linkedin</a
            >, et mon profil
            <a
                href="https://gitlab.com/ValentinSILVESTRE"
                target="_blank"
                class="bold italic"
                >GitLab</a
            >.
        </p>
    </article>
    <ul class="project-list">
        <app-project-preview
            *ngFor="let project of projects"
            [project]="project"
            (click)="onOpenPopup()"
        ></app-project-preview>
    </ul>
    <app-project-popup
        *ngIf="projectService.hasActivePopupId()"
        [project]="
            projectService.getProject(projectService.getActivePopupId()!)
        "
        class="project-popup"
        (closePopup)="onClosePopup()"
    ></app-project-popup>
</main>

<app-footer></app-footer>

<div class="notPopup" *ngIf="isActivePopup" (click)="onClosePopup()"></div>
