main {
    display        : flex;
    flex-direction : column;
    gap            : 2rem;
    justify-content: center;
    align-items    : center;
    position       : absolute;
    top            : 50%;
    left           : 50%;
    transform      : translate(-50%, -50%);
}

.timer {
    height: 5rem;

    img {
        max-width : 100%;
        max-height: 100%;
        animation : 1s ease-in-out 0s infinite normal none running tourne;
    }
}

@keyframes tourne {
    100% {
        transform: rotate(180deg);
    }
}