<footer>
    <address>
        <p>
            Site réalisé par Valentin SILVESTRE en utilisant les frameworks
            Angular et Symfony.
        </p>
        <ul>
            <li>
                <a href="mailto:valentin.silvestre@homail.com"
                    ><img src="assets/icons/mail.png" alt="icone de d'email"
                /></a>
            </li>
            <li>
                <a href="tel:0601984283"
                    ><img src="assets/icons/phone.png" alt="icone de téléphone"
                /></a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/valentin-silvestre1/"
                    target="_blank"
                    ><img
                        src="assets/icons/linkedin.png"
                        alt="icone de linkedin"
                /></a>
            </li>
            <li>
                <a href="https://gitlab.com/ValentinSILVESTRE" target="_blank"
                    ><img src="assets/icons/gitlab.svg" alt="icone de gitlab"
                /></a>
            </li>
        </ul>
    </address>
</footer>
