footer {
    background-color: #323232;
    border-top      : 1px solid #111;
    padding         : .5rem 5vw;
    display         : flex;
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;

    adress {
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    ul {
        margin-top     : 1rem;
        display        : flex;
        justify-content: space-evenly;
        align-items    : center;
    }

    img {
        width: clamp(1.5rem, 5vw, 2rem);
    }
}