a {
    color: #ccc;
}

.hidden {
    display: none !important;
}

.row-reverse {
    justify-content: row-reverse;
    direction      : rtl;

    &>* {
        direction: ltr;
    }
}

.pokemon-picture {
    max-height: 9vh;
}

.timer {
    height: 2rem;
    align-self: center;
    justify-self: center;

    img {
        max-width   : 2rem;
        max-height  : 2rem;
        margin-right: 1rem;
        animation   : 1s ease-in-out 0s infinite normal none running tourne;
    }


    @keyframes tourne {

        100% {
            transform: rotate(180deg);
        }
    }
}


.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select  : none;
    /* Safari */
    -khtml-user-select   : none;
    /* Konqueror HTML */
    -moz-user-select     : none;
    /* Old versions of Firefox */
    -ms-user-select      : none;
    /* Internet Explorer/Edge */
    user-select          : none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.pokemon {
    display       : flex;
    flex-direction: column;
    position      : relative;

    &.selected {
        background-color: #323232;
    }

    &.edit {
        .upper {
            grid-template-columns: 20% 35% 45%;

            .details {
                align-items: flex-start;
                margin     : 0.5rem;

                .row {
                    display        : flex;
                    justify-content: space-between;
                    width          : 100%;
                }

                select {
                    width: 70%;
                }

                #level {
                    width: 3rem;
                }
            }
        }
    }
}

.boost input {
    width: 100%;
}

.moves-edit {
    display              : grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows   : 30% 35% 35%;

    p {
        grid-column: span 2;
        text-align : center;
        align-self : center;
    }

    select {
        margin: 2px 5px;
    }
}

.upper {
    height               : 14.5vh;
    display              : grid;
    grid-template-columns: 20% 20% 28% 32%;

    .preview {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        position       : relative;
    }

    .details {
        font-size      : 12px;
        display        : flex;
        flex-direction : column;
        justify-content: space-evenly;
        align-items    : center;

        img {
            max-width : 2rem;
            max-height: 1.2rem;
        }
    }

    .damages {
        display    : grid;
        align-items: center;
        position   : relative;
    }
}

.buttons {
    position      : absolute;
    top           : 0;
    left          : 0;
    margin        : 0;
    z-index       : 1;
    display       : flex;
    flex-direction: column;

    button {
        all: unset;

        &:hover {
            cursor: pointer;
            color : rgb(110, 110, 110);
        }
    }
}

.reverse .buttons {
    left : auto;
    right: 0;
}

.row-reverse button.edit {
    right: 0;
    left : auto;
}

.types {
    display: flex;

    .type:first-child {
        border-radius: 5px 0 0 5px;
    }

    .type:last-child {
        border-radius: 0 5px 5px 0;
    }
}

.moves {
    display              : grid;
    grid-template-columns: auto;
    align-items          : center;
    margin               : 4px 0;
    grid-template-rows   : repeat(4, 25%);
    position             : relative;
}

.w100 {
    width: 100%;
}

.pokemon.edit .table {
    display              : grid;
    grid-template-columns: 7% 7% 30% 30% 8% 8%;
    gap                  : 0.5rem 2%;
    margin               : 1rem;

    .cell {
        display        : flex;
        align-items    : center;
        justify-content: center;

        span {
            width     : 2rem;
            text-align: end;
        }

        &.iv span {
            width: 1.2rem;
        }
    }

    .cell.iv:not(.header),
    .cell.ev:not(.header) {
        justify-content: space-between;

        input {
            margin-right: 0.2rem;
            width       : 100%;
        }
    }
}

.faster {
    color                : aqua;
    // border-right-color: aqua;
    // border-left-color : aqua;
}

.slower {
    color                : red;
    // border-right-color: red;
    // border-left-color : red;
}

.sameSpeed {
    color                : orangered;
    // border-right-color: orangered;
    // border-left-color : orangered;
}