<div
    *ngIf="pokemon"
    class="pokemon"
    [ngClass]="{
        selected: selected,
        edit: editMode,
        faster: isFaster(),
        slower: isSlower(),
        sameSpeed: hasSameSpeed(),
        reverse: reverse()
    }"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
    (contextmenu)="mouseclick($event)"
>
    <div class="upper" [ngClass]="{ 'row-reverse': reverse() }">
        <div class="buttons">
            <button class="edit" (click)="switchMode()">
                <span class="material-icons noselect"> edit </span>
            </button>
            <button class="reset" (click)="reset()">
                <span class="material-icons noselect">restart_alt</span>
            </button>
        </div>

        <div class="preview">
            <abbr title="{{ pokemon.name }}">
                <a
                    href="https://www.smogon.com/dex/ss/pokemon/{{
                        pokemon.name.toLowerCase().replaceAll('%', '')
                    }}/"
                    target="_blank"
                >
                    <img
                        class="pokemon-picture"
                        src="{{ imgUri() }}"
                        alt="{{ pokemon.name }}'s gif"
                /></a>
            </abbr>

            <div class="types">
                <app-type
                    *ngFor="
                        let type of getTypes();
                        first as isFirst;
                        last as isLast
                    "
                    [name]="type"
                    [isFirst]="isFirst"
                    [isLast]="isLast"
                ></app-type>
            </div>
            <app-status
                *ngIf="pokemon.status"
                [status]="getStatus()"
                (click)="heal()"
            ></app-status>
        </div>

        <div class="details">
            <p *ngIf="!editMode" class="speed">
                Speed : {{ getStat("spe", true) | number: "1.0-1" }}
            </p>

            <div *ngIf="editMode" class="row">
                <label for="level">Level</label>
                <input
                    type="number"
                    id="level"
                    (change)="update()"
                    [(ngModel)]="pokemon.level"
                    min="1"
                    max="100"
                    step="1"
                />
            </div>

            <div class="row">
                <label *ngIf="editMode" for="nature-edit">Nature</label>
                <select
                    *ngIf="editMode"
                    class="nature-edit"
                    id="nature-edit"
                    (change)="update()"
                    [(ngModel)]="pokemon.nature"
                >
                    <optgroup
                        *ngFor="let boost of getNaturesBoost()"
                        label="{{ boost }}"
                    >
                        <option
                            *ngFor="let nature of getNaturesByBoost(boost)"
                            value="{{ nature.label }}"
                        >
                            {{ nature.label }}
                            <span *ngIf="nature.desc">
                                ({{ nature.desc }})
                            </span>
                        </option>
                    </optgroup>
                </select>
            </div>

            <abbr
                *ngIf="pokemon.item && !editMode"
                title="{{ pokemon.item }} : {{ getItemDesc(pokemon.item) }}"
                (click)="itemClicked()"
            >
                <img src="{{ getItemUrl() }}" alt="{{ pokemon.item }} image" />
            </abbr>

            <div class="row">
                <label *ngIf="editMode" for="item-edit">Item</label>
                <select
                    *ngIf="editMode"
                    class="item-edit"
                    id="item-edit"
                    (change)="update()"
                    [(ngModel)]="pokemon.item"
                >
                    <option
                        *ngFor="let item of itemList"
                        value="{{ item.name }}"
                    >
                        {{ item.name }}
                    </option>
                </select>
            </div>

            <div class="row">
                <abbr
                    *ngIf="pokemon && pokemon.ability && !editMode"
                    class="ability"
                    title="{{ getAbilityDesc() }}"
                    (click)="abilityClicked()"
                >
                    {{ pokemon.ability }}
                </abbr>

                <label *ngIf="editMode" for="ability-edit">Ability</label>
                <select
                    *ngIf="editMode"
                    class="ability-edit"
                    (change)="update()"
                    [(ngModel)]="pokemon.ability"
                >
                    <option
                        *ngFor="let ability of getAbilities()"
                        value="{{ ability }}"
                    >
                        {{ ability }}
                    </option>
                </select>
            </div>

            <div *ngIf="!editMode" class="row">
                <app-boost
                    [pokemon]="pokemon"
                    [teamIndex]="teamIndex"
                    [pokemonIndex]="pokemonIndex"
                ></app-boost>
            </div>

            <div class="row">
                <label *ngIf="editMode" for="status-edit">Status</label>
                <select
                    *ngIf="editMode"
                    class="status-edit"
                    (change)="update()"
                    [(ngModel)]="pokemon.status"
                >
                    <option
                        *ngFor="let status of statusList"
                        value="{{ status.name }}"
                    >
                        {{ status.fullname }}
                    </option>
                </select>
            </div>
        </div>

        <ul *ngIf="!editMode" class="moves">
            <app-move
                *ngFor="let move of pokemon.moves; index as moveIndex"
                [name]="move"
                [teamIndex]="teamIndex"
                [pokemonIndex]="pokemonIndex"
                [pokemon]="pokemon"
                [moveIndex]="moveIndex"
                (click)="moveClicked(move)"
            >
            </app-move>
        </ul>
        <ul *ngIf="editMode" class="moves-edit">
            <p><b>Moves</b></p>
            <select
                class="move"
                (change)="update()"
                *ngFor="let move of pokemon.moves; index as i"
                [(ngModel)]="pokemon.moves[i]"
            >
                <option
                    *ngFor="let learnMove of getAllMoves()"
                    value="{{ moveName(learnMove) }}"
                >
                    {{ moveName(learnMove) }}
                </option>
            </select>
        </ul>

        <div *ngIf="!editMode" class="damages">
            <app-damage
                *ngIf="getOpponent() && isAttacked()"
                [damages]="getAttakerDamages()"
                [isLeft]="teamIndex === 0"
            ></app-damage>
            <app-damage
                *ngIf="getOpponent() && isAttacked()"
                [damages]="getDefenderDamages()"
                [isLeft]="teamIndex !== 0"
            ></app-damage>
        </div>
    </div>

    <div *ngIf="editMode" class="table" #table>
        <div class="cell header name"><b>Stats</b></div>
        <div class="cell header base"><b>Base</b></div>
        <div class="cell header ev"><b>EV</b></div>
        <div class="cell header iv"><b>IV</b></div>
        <div class="cell header boosts"><b>Boost</b></div>
        <div class="cell header total"><b>Total</b></div>

        <div class="cell name">hp</div>
        <div class="cell base">
            {{ pokemon.species.baseStats.hp }}
        </div>
        <div class="cell ev">
            <input
                type="range"
                id="evhp"
                (change)="updateEV('hp')"
                [(ngModel)]="pokemon.evs.hp"
                min="0"
                max="252"
                step="4"
            />
            <span class="value">
                {{ pokemon.evs.hp | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell iv">
            <input
                type="range"
                id="ivhp"
                (change)="update()"
                [(ngModel)]="pokemon.ivs.hp"
                min="0"
                max="31"
                step="1"
            />
            <span class="value">
                {{ pokemon.ivs.hp | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell boost"></div>
        <div class="cell total">
            <span class="value">
                {{ getStat("hp", true) | number: "0.0-1" }}
            </span>
        </div>

        <div class="cell name">atk</div>
        <div class="cell base">
            {{ pokemon.species.baseStats.atk }}
        </div>
        <div class="cell ev">
            <input
                type="range"
                id="aevtk"
                (change)="updateEV('atk')"
                [(ngModel)]="pokemon.evs.atk"
                min="0"
                max="252"
                step="4"
            />
            <span class="value">
                {{ pokemon.evs.atk | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell iv">
            <input
                type="range"
                id="aivtk"
                (change)="update()"
                [(ngModel)]="pokemon.ivs.atk"
                min="0"
                max="31"
                step="1"
            />
            <span class="value">
                {{ pokemon.ivs.atk | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell boost">
            <input
                type="number"
                (change)="update()"
                [(ngModel)]="pokemon.boosts.atk"
                min="-6"
                max="6"
                step="1"
            />
        </div>
        <div class="cell total">
            <span class="value">
                {{ getStat("atk", true) | number: "0.0-1" }}
            </span>
        </div>

        <div class="cell name">def</div>
        <div class="cell base">
            {{ pokemon.species.baseStats.def }}
        </div>
        <div class="cell ev">
            <input
                type="range"
                id="devef"
                (change)="updateEV('def')"
                [(ngModel)]="pokemon.evs.def"
                min="0"
                max="252"
                step="4"
            />
            <span class="value">
                {{ pokemon.evs.def | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell iv">
            <input
                type="range"
                id="divef"
                (change)="update()"
                [(ngModel)]="pokemon.ivs.def"
                min="0"
                max="31"
                step="1"
            />
            <span class="value">
                {{ pokemon.ivs.def | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell boost">
            <input
                type="number"
                (change)="update()"
                [(ngModel)]="pokemon.boosts.def"
                min="-6"
                max="6"
                step="1"
            />
        </div>
        <div class="cell total">
            <span class="value">
                {{ getStat("def", true) | number: "0.0-1" }}
            </span>
        </div>

        <div class="cell name">spa</div>
        <div class="cell base">
            {{ pokemon.species.baseStats.spa }}
        </div>
        <div class="cell ev">
            <input
                type="range"
                id="sevpa"
                (change)="updateEV('spa')"
                [(ngModel)]="pokemon.evs.spa"
                min="0"
                max="252"
                step="4"
            />
            <span class="value">
                {{ pokemon.evs.spa | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell iv">
            <input
                type="range"
                id="sivpa"
                (change)="update()"
                [(ngModel)]="pokemon.ivs.spa"
                min="0"
                max="31"
                step="1"
            />
            <span class="value">
                {{ pokemon.ivs.spa | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell boost">
            <input
                type="number"
                (change)="update()"
                [(ngModel)]="pokemon.boosts.spa"
                min="-6"
                max="6"
                step="1"
            />
        </div>
        <div class="cell total">
            <span class="value">
                {{ getStat("spa", true) | number: "0.0-1" }}
            </span>
        </div>

        <div class="cell name">spd</div>
        <div class="cell base">
            {{ pokemon.species.baseStats.spd }}
        </div>
        <div class="cell ev">
            <input
                type="range"
                id="sevpd"
                (change)="updateEV('spd')"
                [(ngModel)]="pokemon.evs.spd"
                min="0"
                max="252"
                step="4"
            />
            <span class="value">
                {{ pokemon.evs.spd | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell iv">
            <input
                type="range"
                id="sivpd"
                (change)="update()"
                [(ngModel)]="pokemon.ivs.spd"
                min="0"
                max="31"
                step="1"
            />
            <span class="value">
                {{ pokemon.ivs.spd | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell boost">
            <input
                type="number"
                (change)="update()"
                [(ngModel)]="pokemon.boosts.spd"
                min="-6"
                max="6"
                step="1"
            />
        </div>
        <div class="cell total">
            <span class="value">
                {{ getStat("spd", true) | number: "0.0-1" }}
            </span>
        </div>

        <div class="cell name">spe</div>
        <div class="cell base">
            {{ pokemon.species.baseStats.spe }}
        </div>
        <div class="cell ev">
            <input
                type="range"
                id="sevpe"
                (change)="updateEV('spe')"
                [(ngModel)]="pokemon.evs.spe"
                min="0"
                max="252"
                step="4"
            />
            <span class="value">
                {{ pokemon.evs.spe | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell iv">
            <input
                type="range"
                id="sivpe"
                (change)="update()"
                [(ngModel)]="pokemon.ivs.spe"
                min="0"
                max="31"
                step="1"
            />
            <span class="value">
                {{ pokemon.ivs.spe | number: "0.0-1" }}
            </span>
        </div>
        <div class="cell boost">
            <input
                type="number"
                (change)="update()"
                [(ngModel)]="pokemon.boosts.spe"
                min="-6"
                max="6"
                step="1"
            />
        </div>
        <div class="cell total">
            <span class="value">
                {{ getStat("spe", true) | number: "0.0-1" }}
            </span>
        </div>
    </div>
</div>
