a:visited {
    color: #ccc;
}

.fight {
    display: flex;
    border : 1rem solid transparent;
}

.team {
    display              : flex;
    flex-direction       : column;
    grid-template-columns: 1fr;
    position             : sticky;
    top                  : 11vh;
    width                : 50%;
    height               : fit-content;

    &:first-child {
        margin-right: 4rem;
    }

    .status {
        color      : #fff;
        text-shadow: 1px 1px 1px #333;
    }
}

#team1 {

    .status {
        transform: translate(-50%, -50%);
        right    : 0;
    }
}

#team2 {

    .status {
        transform: translate(50%, -50%);
        left     : 0;
    }
}

header {
    background-color: #323232;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    box-shadow      : 2px 2px 1px #111;
    margin-bottom   : 5px;
    padding         : 5px 2rem;
    height          : auto;
    position        : sticky;
    top             : 0;
    z-index: 1;

    nav {
        display: flex;
        gap    : 1rem;
    }
}

.field {
    display           : flex;
    grid-template-rows: auto auto;

    li {
        display        : flex;
        width          : 12vw;
        align-items    : center;
        justify-content: space-between;

        &:first-child {
            margin-bottom: 0.5rem;
        }
    }
}

.terrain-info {
    cursor         : pointer;
    text-decoration: none;
}

.team>*:not(:last-child) {
    border-bottom: 1px #ccc solid;
}

.electric {
    border-color: rgb(255, 245, 46);
}

.grassy {
    border-color: rgb(29, 161, 0);
}

.misty {
    border-color: rgb(162, 0, 255);
}

.psychic {
    border-color: rgb(255, 0, 200);
}

.rain {
    border-color: hsl(228, 47%, 17%);

    &.electric {
        border-left-color : rgb(255, 245, 46);
        border-right-color: rgb(255, 245, 46);
    }

    &.grassy {
        border-left-color : rgb(29, 161, 0);
        border-right-color: rgb(29, 161, 0);
    }

    &.misty {
        border-left-color : rgb(162, 0, 255);
        border-right-color: rgb(162, 0, 255);
    }

    &.psychic {
        border-left-color : rgb(255, 0, 200);
        border-right-color: rgb(255, 0, 200);
    }
}

.sun {
    border-color: hsl(32, 100%, 50%);

    &.electric {
        border-left-color : rgb(255, 245, 46);
        border-right-color: rgb(255, 245, 46);
    }

    &.grassy {
        border-left-color : rgb(29, 161, 0);
        border-right-color: rgb(29, 161, 0);
    }

    &.misty {
        border-left-color : rgb(162, 0, 255);
        border-right-color: rgb(162, 0, 255);
    }

    &.psychic {
        border-left-color : rgb(255, 0, 200);
        border-right-color: rgb(255, 0, 200);
    }
}

.sand {
    border-color: rgb(82, 52, 10);

    &.electric {
        border-left-color : rgb(255, 245, 46);
        border-right-color: rgb(255, 245, 46);
    }

    &.grassy {
        border-left-color : rgb(29, 161, 0);
        border-right-color: rgb(29, 161, 0);
    }

    &.misty {
        border-left-color : rgb(162, 0, 255);
        border-right-color: rgb(162, 0, 255);
    }

    &.psychic {
        border-left-color : rgb(255, 0, 200);
        border-right-color: rgb(255, 0, 200);
    }
}

.hail {
    border-color: rgb(0, 161, 161);

    &.electric {
        border-left-color : rgb(255, 245, 46);
        border-right-color: rgb(255, 245, 46);
    }

    &.grassy {
        border-left-color : rgb(29, 161, 0);
        border-right-color: rgb(29, 161, 0);
    }

    &.misty {
        border-left-color : rgb(162, 0, 255);
        border-right-color: rgb(162, 0, 255);
    }

    &.psychic {
        border-left-color : rgb(255, 0, 200);
        border-right-color: rgb(255, 0, 200);
    }
}