<header>
    <nav>
        <a routerLink="/">Accueil</a>
        <a routerLink="/form">Draft</a>
        <a routerLink="/pokemon/table">Table</a>
    </nav>
    <h1>Pokemon</h1>
    <div class="field">
        <ul>
            <li>
                <label for="weather">Weather</label>
                <select id="weather" class="weather" (change)="updateField()" [(ngModel)]="field.weather">
                    <option value="none"></option>
                    <option value="Rain">Rain</option>
                    <option value="Sun">Sun</option>
                    <option value="Sand">Sand</option>
                    <option value="Hail">Hail</option>
                </select>
            </li>
            <li>
                <label for="terrain">Terrain</label>
                <select id="terrain" class="terrain" (change)="updateField()" [(ngModel)]="field.terrain">
                    <option value=""></option>
                    <option value="Electric">Electric</option>
                    <option value="Grassy">Grassy</option>
                    <option value="Misty">Misty</option>
                    <option value="Psychic">Psychic</option>
                </select>
                <abbr *ngIf="field.terrain" title="{{ getTerrainDesc(true) }}"
                    class="material-icons-outlined info terrain-info">
                    help
                </abbr>
            </li>
        </ul>
    </div>
</header>

<div class="fight" (contextmenu)="preventContextMenu($event)" [ngClass]="{
        rain: field.weather === 'Rain',
        sun: field.weather === 'Sun',
        sand: field.weather === 'Sand',
        hail: field.weather === 'Hail',
        electric: field.terrain === 'Electric',
        grassy: field.terrain === 'Grassy',
        misty: field.terrain === 'Misty',
        psychic: field.terrain === 'Psychic'
    }">
    <div *ngFor="let team of pokemons; index as teamIndex" id="team{{ teamIndex + 1 }}" class="team">
        <app-pokemon *ngFor="let pokemon of pokemons[teamIndex]; index as pokemonIndex" [teamIndex]="teamIndex"
            [pokemonIndex]="pokemonIndex" [pokemon]="pokemon" [field]="field"
            (mouseenter)="onSelectPokemon(teamIndex, pokemonIndex)" (mouseleave)="onUnselectPokemon()"
            (speed)="setSpeed($event)"></app-pokemon>
    </div>
</div>