.image-list {
    display              : grid;
    grid-template-columns: repeat(2, 45vw);
    gap                  : 2vw;
    justify-items        : center;
    align-items          : flex-start;
}

.image {
    width          : 45vw;
    display        : flex;
    justify-content: center;
    align-items    : center;

    abbr {
        display        : flex;
        justify-content: center;
        align-items    : center;
        width          : 100%;
        height         : 100%;
    }

    img {
        cursor    : pointer;
        max-width : 100%;
        max-height: 100%;
        border    : 2vw solid #665531;
    }
}

@media (min-width: 768px) {
    .image-list {
        grid-template-columns: repeat(3, 30vw);
    }

    .image {
        width: 30vw;

        img {
            border: 1vw solid #665531;
        }
    }
}