<app-header [title]="'Choix d\'image'"></app-header>

<main class="taquin">
    <div class="main-container">
        <div class="image-list">
            <div class="image" *ngFor="let imageUrl of imageUrls">
                <abbr title="{{ imageUrl.substring(33) }}">
                    <img
                        src="{{ imageUrl }}"
                        (click)="onImageClick(imageUrl)"
                    />
                </abbr>
            </div>
        </div>
    </div>
</main>
