html {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	height: 100%;
	width: 100%;
	background-color: orange;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	cursor: pointer;
}

#header {
	display: flex;
	height: 15%;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.link {
	background-color: rgb(209, 108, 35);
	padding: 1%;
	border-radius: 5px;
	text-decoration: none;
	background: rgb(45, 49, 66);
	text-align: center;
	font-size: 40px;
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	border-radius: 10px;
	border: solid rgb(209, 108, 35) 2px;
	-webkit-box-shadow: -15px -7px 21px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -15px -7px 21px 0px rgba(0, 0, 0, 0.75);
}

.link:hover {
	color: rgb(209, 108, 35);
	border-radius: 10px;
	color: rgb(45, 49, 66);
	background-color: rgb(209, 108, 35);
	border: solid rgb(45, 49, 66) 2px;
}

#p {
	align-items: center;
	justify-content: center;
	text-align: center;
}

#main-container {
	width: 100%;
	height: 85%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

img {
	max-width: 80%;
	max-height: 60%;
	border: 1px black solid;
}

table {
	display: flex;
	justify-content: center;
	padding: 2%;
	background-color: rgb(212, 143, 16);
}

th {
	padding-bottom: 15%;
	text-align: center;
}

td {
	text-align: center;
}

#popup {
	display: flex;
	flex-direction: column;
	background-color: darkgray;
	padding: 1rem;
	z-index: 1;
	position: absolute;
}
