body {
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	height: 100%;
	width: 100%;
}

.titre,
.header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	width: 100%;
	z-index: 1;
	position: fixed;
	background-color: orange;
}

.header > a {
	background-color: rgb(209, 108, 35);
	padding: 1%;
	text-decoration: none;
	background: rgb(45, 49, 66);
	text-align: center;
	font-size: 40px;
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	margin-right: 50px;
	border-radius: 10px;
	z-index: 2;
	border: solid rgb(209, 108, 35) 2px;
	-webkit-box-shadow: -15px -7px 21px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -15px -7px 21px 0px rgba(0, 0, 0, 0.75);
}

a:hover {
	color: rgb(209, 108, 35);
	border-radius: 10px;
	color: rgb(45, 49, 66);
	background-color: rgb(209, 108, 35);
	border: solid rgb(45, 49, 66) 2px;
}

/* #boutonChangerImage :hover {
    color           : rgb(209, 108, 35);
    border-radius   : 10px;
    color           : rgb(45, 49, 66);
    background-color: rgb(209, 108, 35);
    border          : solid rgb(45, 49, 66) 2px;
} */
