html,
body {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.hidden {
	display: none;
}

header {
	margin-bottom: 5%;
}

.flex {
	display: flex;
}

.main-container {
	display: flex;
	justify-content: space-around;
	height: 85%;
}

.difficulties {
	display: flex;
	list-style-type: none;
}

#difficulty-input {
	width: 3.5rem;
}

.side-bar {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.times {
}

.play {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}

.image {
	display: flex;
	justify-content: center;
	width: 60%;
	max-height: 90%;
}

.image img {
	border: black 1px solid;
	max-height: 100%;
	max-width: 100%;
}

.times,
.play {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.times h2,
.play h2 {
	margin-top: 0;
}

.times h5 {
	display: flex;
	align-items: center;
	margin-right: 1rem;
}

.times h5,
.times ul {
	margin-bottom: 0;
}

.play .input {
	margin-bottom: 2%;
}

table,
tr,
th,
td {
	border: solid black 1px;
	border-collapse: collapse;
}

td,
th {
	text-align: center;
}

#play-button {
	font-size: xx-large;
}
