.notPopup {
    position        : fixed;
    top             : 0;
    height          : 100%;
    width           : 100%;
    z-index         : 1;
    opacity         : .6;
    background-color: #464646;
}