#form {
	width: auto;
	min-width: 50vw;
	background-color: #323232;
}

.form h2.linksH2 {
	text-align: center;
	margin-bottom: 1rem;
}

.form .links {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.form .links a {
	margin-left: 1rem;
}

section.event-informations {
	min-height: 29rem;
}

fieldset.event-info {
	min-width: 30rem;
	height: calc(100% - 1rem - 2px);
	justify-content: space-around;
}

fieldset.link-field {
	display: flex;
	border: 1px #ccc solid;
	border-radius: 5px;
	padding: 1em;
	flex-direction: column;
}

section.event-informations > .link {
	display: flex;
}

section.event-informations > .link .delete-link-button {
	margin-bottom: 2rem;
	padding: 0.5rem;
	align-self: center;
}

section.event-informations > .link .delete-link-button:hover {
	cursor: pointer;
	color: red;
}

.form .field.link {
	display: flex;
	border: 1px #ccc solid;
	border-radius: 5px;
	padding: 1em;
	flex-direction: column;
}

form .required:first-child::after {
	content: '*';
	margin-left: 0.3rem;
	color: rgb(255, 25, 25);
}

.field.link .link-url,
.field.link .link-title {
	display: flex;
	align-items: center;
}

.field.datetime input#event_date,
.field.datetime input#event_end_date {
	text-align: center;
}

.field.category select#event_categories {
	min-height: 7.3rem;
}

ul#event-links {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

ul#event-links > * {
	margin-top: 1rem;
}

ul#event-links > :first-child {
	margin-top: 0;
}

li.event-link {
	padding: 1rem;
	border: 1px #ccc solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

li.event-link > * {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
}

li.event-link > button.delete {
	width: fit-content;
	margin-top: 0.5rem;
}

li.event-link label {
	min-width: 3rem;
}
