header {
	border-bottom: 0.1px solid #111;
	box-shadow: 2px 2px 1px #111;
	background-color: #323232;
	width: 100%;
	margin-bottom: 2rem;
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto;
}
header nav {
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	row-gap: 1rem;
}
header nav .actions {
	grid-column: 1/-1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav .actions abbr span {
	cursor: pointer;
	font-size: 1.3rem;
}
header .filter {
	display: flex;
	height: 2rem;
	background-color: #575757;
	border: 0.1rem solid #575757;
	color: #ccc;
}
header #currentDateTime {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
}
header #currentDateTime p {
	width: max-content;
}
header #filter-search {
	all: unset;
	background-color: #222;
	padding-left: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
}
header #filter-search:focus {
	border: 1px solid #0356b4;
}
header #filter-button {
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 0.1rem 0.5rem;
}

h1 {
	margin-bottom: 2rem;
	text-align: center;
}

main {
	box-shadow: none;
	padding: 0;
	margin: 0 5px;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #222;
}

main.showEvent .main-container {
	width: auto;
}

@media screen and (min-width: 576px) {
	main {
		margin: 0 5vw 1rem;
	}
}
/* ? - Autre ====================================================================================*/
aside {
	margin-bottom: 2rem;
	background-color: #222222;
}

.main-container {
	box-shadow: 5px 5px 2px #111;
	border: solid 0.1px #111;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #323232;
}
.main-container .header {
	display: flex;
	justify-content: flex-end;
	margin: 1rem 1rem 0;
}
.main-container .links .show {
	margin: 0 0.6rem;
}
.main-container .links .delete button {
	all: unset;
	text-decoration: underline;
	cursor: pointer;
}
.main-container .links .link:hover {
	color: #0077ff;
	transition: 0.1s;
}
.main-container .links .link.live {
	order: 1;
}
.main-container .links .link.replay {
	order: 2;
}
.main-container .links .link.info {
	order: 3;
}
.main-container .links .link.add-link {
	order: 4;
}

/*# sourceMappingURL=style.css.map */
