$row_gap                    : 4rem;
$cell_gap                   : 1rem;
$little_cell_gap            : .5rem;
$row-background-color       : hsl(0, 0%, 27%);
$row-background-color-hover : hsl(0, 0%, 33%);
$passed-color               : hsl(0, 0%, 60%);
$today-color                :rgb(255, 0, 0);
$tomorrow-color             :rgb(255, 0, 255);
$week-color                 :rgb(0, 8, 255);
$passed-bg_color            :hsl(0, 0%, 20%);
$today-bg_color             :hsl(0, 0%, 27%);
$tomorrow-bg_color          :hsl(0, 0%, 30%);
$week-bg_color              :hsl(0, 0%, 27%);

main {
    flex-direction : column;
    justify-content: flex-start;
    margin         : 0;
}

.row.week {
    .datetime {
        text-shadow: 1px 1px 1px $week-color;
    }
}

.row.tomorrow {
    .datetime {
        text-shadow: 1px 1px 1px $tomorrow-color;
    }
}

.row.today {
    .datetime {
        text-shadow: 1px 1px 1px $today-color;
    }
}

.row.passed {
    .datetime {
        color      : $passed-color;
        text-shadow: 1px 1px 1px black;
    }
}

.table {
    min-width            : 70vw;
    margin               : 2rem 0;
    display              : grid;
    grid-template-columns: 1fr;
    background-color     : #111;
    gap                  : 1px;
    border               : #111 1px solid;
    box-shadow           : 2px 2px 1px #111;
}

.row {
    display                 : grid;
    grid-template-columns   : 20% auto 13% 10%;
    text-decoration         : none;
    transition              : .2s;
    gap                     : $row_gap;
    padding                 : 1rem;
    padding-left            : 2rem;
    background-color        : $row-background-color;
    // background-color     : hsl(0, 0%, 17%);

    &:hover,
    &:hover .cell {
        background-color   : $row-background-color-hover;
        // background-color: hsl(0, 0%, 21%);
        transition         : .2s;
    }
}


.customLink {
    color          : hsl(0, 0%, 80%);
    text-decoration: none;

    &:hover {
        color: hsl(0, 0%, 70%);
    }
}

.cell {
    background-color   : $row-background-color;
    // background-color: hsl(0, 0%, 17%);
    display            : flex;
    align-items        : center;
    gap                : $cell_gap;
    transition         : background-color .2s;

    &.datetime {
        transition: .2s;

        &:hover,
        &.cell:hover {
            background-color: $row-background-color-hover;

            color      : hsl(0, 0%, 60%);
            text-shadow: #111 1px 1px;
        }

        &.absolute {
            width          : 10rem;
            display        : flex;
            flex-direction : column;
            gap            : .5rem;
            align-items    : flex-start;
            justify-content: center;
        }

        &.relative {
            width          : 2.5rem;
            display        : flex;
            justify-content: center;
            font-weight    : bold;
        }
    }

    &.children {
        a {
            text-decoration: none;
        }
    }
}

.crud-buttons {
    flex-direction: column;
    gap           : .3rem;

    >* {
        cursor         : pointer;
        text-decoration: none;
    }
}

.read {
    color: rgb(127, 129, 224);

    &:hover {
        color: rgb(73, 76, 255);
    }
}

.update {
    color: rgb(165, 221, 132);

    &:hover {
        color: rgb(101, 202, 42);
    }
}

.newLink .customLink {
    color: hsl(98, 100%, 87%);

    &:hover {
        color: hsl(98, 66%, 48%);
    }
}

.delete {
    color: rgb(255, 149, 149);

    &:hover {
        color: rgb(255, 95, 95);
    }
}

.categories {
    display        : flex;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
    gap            : $little_cell_gap;

    .category {
        display        : flex;
        justify-content: center;
        align-items    : center;

        img {
            width: 2rem;
        }

        abbr {
            text-decoration: none;
        }
    }
}

.infos {
    display: flex;
    gap    : $cell_gap;
    padding: 0;
}

.title {
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
    align-items    : flex-start;

    .event,
    .parent {
        display    : flex;
        align-items: flex-end;
        gap        : 0.2rem;

        span {
            margin-bottom: 1px;
            width        : 24px;
        }

        @for $i from 2 to 10 {
            &[row="#{$i}"] {
                margin-left: calc(($i - 1) * (24px + .2rem));
            }
        }
    }
}

ul.links {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
    gap            : $little_cell_gap;
    flex-wrap      : wrap;

    .live {
        order: 1 transform
    }

    .replay {
        order: 2
    }

    .info {
        order: 3
    }

    .newLink {
        order: 4
    }
}

.link abbr {
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .row {
        grid-template-columns: max-content auto max-content max-content;
    }
}

.noEvent {
    background-color: #222;
    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    display         : flex;
    flex-direction  : column;
    gap             : 2rem;
    max-width       : min(40rem, 80vw);
}