<app-header [title]="'Calendrier'" [calendar]="true"></app-header>

<app-loading *ngIf="loading; else mainBlock"></app-loading>

<ng-template #mainBlock>
    <main *ngIf="!eventsToDisplay.length" class="noEvent">
        <h2>
            Il n'y a aucun événement à venir.<br />
            <a [routerLink]="['/calendar/event/new']" ngClass="white"
                >Créér un événement</a
            >
        </h2>
    </main>

    <main *ngIf="!eventsToDisplay.length && query" class="noEvent">
        <h2>Aucun événement correspondant à {{ query }} n'a été trouvé</h2>
        <a [routerLink]="['/calendar']" ngClass="white">Retour à l'acceuil</a>
    </main>

    <main *ngIf="eventsToDisplay.length" (window:resize)="onResize()">
        <div class="table">
            <a
                *ngFor="let event of eventsToDisplay"
                routerLink="/calendar/event/{{ event.id }}"
                class="row"
                [ngClass]="{
                    passed: isPassed(event),
                    today: isToday(event),
                    tomorrow: isTomorrow(event),
                    week: isThisWeek(event)
                }"
            >
                <div
                    class="cell datetime absolute"
                    *ngIf="dateFormat == 'absolute'; else relativeDateBlock"
                    (click)="toggleDateFormat($event)"
                >
                    <p *ngIf="screenSize == 'small'; else longDateBlock">
                        {{ event.date | date: "shortDate" }}
                    </p>
                    <ng-template #longDateBlock>
                        <p class="date" (click)="toggleDateFormat($event)">
                            {{ event.date | date: "cccc" }},
                        </p>
                        <p class="date" (click)="toggleDateFormat($event)">
                            {{ event.date | date: "longDate" }}
                        </p>
                    </ng-template>
                    <p class="time" (click)="toggleDateFormat($event)">
                        {{ event.date | date: "shortTime" }}
                    </p>
                </div>
                <ng-template #relativeDateBlock>
                    <div
                        (click)="toggleDateFormat($event)"
                        class="cell datetime relative"
                    >
                        <p>
                            {{ relativeDate(event) }}
                        </p>
                    </div>
                </ng-template>
                <div class="infos cell">
                    <ul *ngIf="event" class="categories">
                        <li
                            *ngFor="let category of getEventCategories(event)"
                            class="category"
                        >
                            <abbr title="{{ category.name }}">
                                <img
                                    *ngIf="
                                        iconIsImage(category.name);
                                        else abbrBlock
                                    "
                                    src="{{ getCategorySource(category.name) }}"
                                    alt="{{ category.name }} icon"
                                />
                            </abbr>
                            <ng-template #abbrBlock>
                                <abbr
                                    title="{{ category.name }}"
                                    class="material-icons"
                                    >{{ getCategoryIcon(category.name) }}</abbr
                                >
                            </ng-template>
                        </li>
                    </ul>
                    <div class="title">
                        <a
                            *ngFor="
                                let parent of getAncestors(event);
                                index as i
                            "
                            (click)="stopPropagation($event)"
                            routerLink="/calendar/event/{{ parent.id }}"
                            class="customLink parent"
                            [attr.row]="i"
                            ><span
                                *ngIf="parent.parentEventId"
                                class="material-icons"
                                >subdirectory_arrow_right</span
                            >{{ getEvent(parent.id)!.title }}</a
                        >
                        <a
                            routerLink="/calendar/event/{{ event.id }}"
                            class="customLink event"
                            [attr.row]="getAncestors(event).length"
                        >
                            <span
                                *ngIf="event.parentEventId"
                                class="material-icons"
                                >subdirectory_arrow_right</span
                            >
                            {{ event.title }}
                        </a>
                    </div>
                </div>
                <ul class="cell links">
                    <a
                        (click)="stopPropagation($event)"
                        href="{{ link.url }}"
                        target="_blank"
                        *ngFor="let link of getLinks(event)"
                        class="link {{ link.type.name }}"
                    >
                        <abbr
                            title="{{ link.title }}"
                            class="material-icons icon customLink"
                        >
                            {{ getMaterialIconsName(link.type.name) }}
                        </abbr>
                    </a>
                    <a
                        (click)="stopPropagation($event)"
                        [routerLink]="['/calendar/link/new']"
                        [queryParams]="{ event: event.id }"
                        class="link newLink"
                    >
                        <abbr
                            title="Nouveau lien"
                            class="material-icons icon customLink"
                            >add_circle</abbr
                        ></a
                    >
                </ul>
                <div class="cell crud-buttons">
                    <a
                        (click)="stopPropagation($event)"
                        class="material-icons button update"
                        routerLink="/calendar/event/{{ event.id }}/edit"
                        >edit</a
                    >
                    <span
                        class="material-icons button delete"
                        (click)="onDelete(event.id, $event)"
                        >delete</span
                    >
                </div>
            </a>
        </div>
    </main>

    <ng-template #notFoundBlock>
        <main class="error">
            <h1 class="error-header">Erreur 404</h1>
            <h2>Impossible de trouver les événements</h2>
            <a [routerLink]="['/']" ngClass="white">Retour à l'acceuil</a>
        </main>
    </ng-template>
</ng-template>
